[2012-10-10 19:01] brianloveswords opened #1 "Add `image` to the badge model."
Necessary so badges can have images, of course.

[2012-10-10 19:14] brianloveswords opened #2 "Add field to badge creation form for uploading a badge image."

[2012-10-10 19:45] brianloveswords opened #3 "Badge model: `criteria.content` and `criteria.url` should be mutually exclusive"
Should have either `content` or `url`. If there's content, the page would display the content. If there's a URL, it would 302 to the URL.

[2012-10-10 19:58] #1 closed, assigned to brianloveswords

[2012-10-10 21:23] brianloveswords opened #5 "Badge model: validate `image`, make sure that it's a png."

[2012-10-10 22:05] #2 closed, assigned to nobody

[2012-10-10 22:49] brianloveswords opened #7 "Admin can define prerequisites for a badge"
So there's an idea that badges can have prerequisites that are other badges.  It's already in the model, needs to be expressed in the view and controller.

[2012-10-10 22:51] brianloveswords opened #8 "Admin can delete a badge"
Admin should be able to completely remove a badge, completely.

[2012-10-10 22:54] brianloveswords opened #9 "Admin can edit a badge"
Once a badge has been defined, there should be some way to edit it.

This will require mods/additions to :
- _routes/badge.js_: some way to update an existing badge
- **views/edit-badge.html**: new page for editing a badge
  - OR _views/show-badge.html_: modify show-badge to have an edit mode

[2012-10-10 22:56] brianloveswords opened #10 "Admin can edit a behavior"
Should be able to edit a behavior.
- _routes/behaviors.js_: controller method for updating
- **views/edit-behavior**: view for showing the update form

[2012-10-10 22:58] brianloveswords opened #11 "Admin can delete a behavior"
Should remove behavior from all badges as well.
- _routes/behavior.js_: controller method for delete
- **views/behavior-index.html**: listing for all behaviors

[2012-10-15 15:21] brianloveswords opened #12 "Admin can set issuer details"
We need to get `name`, `org` (optionally), `origin` and `contact` from the admin before we can award any badges.
- model for storing data
- middleware for pulling data for each request
  - flash message saying to set data if it doesn't exist
- route/page/controller for setting data
- link in navbar to page

[2012-10-15 18:34] #12 closed, assigned to brianloveswords

[2012-10-15 18:35] brianloveswords opened #14 "API for crediting user behavior"
- model for behavior credits
- route/controller for crediting

[2012-10-16 22:21] #14 closed, assigned to brianloveswords

[2012-10-16 22:28] brianloveswords opened #16 "Assertions should be accessible from the outside world"

[2012-10-16 22:28] #16 closed, assigned to nobody

[2012-10-17 14:49] brianloveswords opened #17 "Figure out why nunjucks 0.1.5 doesn't work."

[2012-10-17 14:50] brianloveswords opened #18 "Implement authentication with JWT"
https://github.com/mozilla/clopenbadger/wiki/API

[2012-10-23 23:17] brianloveswords opened #19 "Implement CORS middleware"

[2012-10-23 23:48] #18 closed, assigned to nobody

[2012-10-23 23:56] #19 closed, assigned to nobody

[2012-10-24 00:13] brianloveswords opened #21 "Implement CSRF protection"

[2012-11-01 17:17] #21 closed, assigned to brianloveswords

[2012-11-03 19:02] brianloveswords opened #24 "Add CSRF token to "remove behavior from badge" POST"

[2012-11-03 19:22] #24 closed, assigned to brianloveswords

[2012-11-03 19:23] brianloveswords opened #25 "Safe-ize html for descriptions, names and such"
Do it

[2012-11-03 19:26] cmcavoy opened #26 "Export / Import bulk badge definitions from Google Spreadsheet"
Using [tabletop.js](https://github.com/jsoma/tabletop).

[2012-11-03 19:30] #25 closed, assigned to brianloveswords

[2012-11-03 20:13] #11 closed, assigned to nobody

[2012-11-03 20:14] #8 closed, assigned to nobody

[2012-11-05 16:15] brianloveswords opened #27 "Offline badging"
This is an epic:
- new model for offline badges
- UI claiming
- page for generating claim codes?
- integrate `sandwich`

[2012-11-05 17:17] brianloveswords commented on #17
Figured it out, jlongster/nunjucks#21 – was apparently relying on buggy behavior.

[2012-11-05 17:37] #17 closed, assigned to nobody

[2012-11-05 17:38] #3 closed, assigned to nobody

[2012-11-05 17:40] brianloveswords opened #28 "Change badge model to account for offline badges"
- new field in badge
  - should have `code`, `claimedBy`
  - code should be unique
- instance methods
  - add new claim codes
  - use up a claim (should store email address)
- model methods
  - find a badge by claim

[2012-11-06 14:22] toolness opened #30 "Server-side support for IE9 needed"
Ok, so it looks like one of the [many limitations](http://blogs.msdn.com/b/ieinternals/archive/2010/05/13/xdomainrequest-restrictions-limitations-and-workarounds.aspx) of the `XDomainRequest` object on IE9 is that client code can't specify the `Content-Type` header. It ends up being sent as `text/plain` or not being included in the request header at all, I'm not sure which.

I see two solutions mo

[2012-11-06 14:47] toolness commented on #30
Ultra cool, it looks like e48243e412b66a97a95ca6003e117ffda6b9b8dc fixed this. Thanks!!

[2012-11-06 14:47] #30 closed, assigned to nobody

[2012-11-06 19:23] #28 closed, assigned to nobody

[2012-11-06 19:23] #27 closed, assigned to nobody

[2012-11-06 20:06] #9 closed, assigned to nobody

[2012-11-06 20:32] cmcavoy opened #31 "Need a short description and a full description"
The short description goes in...uh...short places, and the full description goes on the Criteria page.

[2012-11-07 17:56] brianloveswords opened #33 "Behaviors in badges can be edited/managed easier"
- Don't allow duplicate behaviors
- Implement increment/decrement buttons
- Implement no-reload behavior adding/removing

[2012-11-07 17:58] brianloveswords opened #34 "Landing page at `GET /` instead of admin login"
Going to https://badges.webmaker.org should give you some sort of information rather than the admin login screen.

@carlacasilli, @cmcavoy, this is kinda important and it totally slipped my mind. People will probably end up typing in https://badges.webmaker.org at some point and we have nothing to show them. Obviously a post-mozfest thing since we have no content, but something we should plan for.

[2012-11-07 18:01] brianloveswords opened #35 "Add "show criteria page" to "Manage" dropdown on front page"

[2012-11-07 18:03] brianloveswords opened #36 "Add "next badge/previous badge" buttons to show-badge page"

[2012-11-07 18:08] brianloveswords opened #37 "Add left padding to info block on show-badge page"
That badge image is floating left, so whatever the width of that float is, use that much padding

![Imgur](http://i.imgur.com/0zoco.png)

[2012-11-07 18:12] brianloveswords opened #38 "Update behavior copy on "create a badge" page"
![Imgur](http://i.imgur.com/VyHj9.png)

Since it's a dropdown now, we don't really need that warning about no spaces or special characters.

[2012-11-07 18:14] brianloveswords opened #39 "Fix link text on show-badge page: "Create a new trigger""
Should be "create a new behavior"

![Imgur](http://i.imgur.com/1kJix.png)

[2012-11-07 18:16] brianloveswords opened #40 "Create error handler pages (4xx, 5xx)"
Right now we're getting the austere, text/plain `Not Found` and friends. We should have something prettier.

[2012-11-07 18:20] stenington commented on #37
Alternatively you can use this funky [media block](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/) technique. It's a pretty simple pattern that ends up being useful EVERYWHERE!

[2012-11-07 18:20] brianloveswords opened #41 "Figure out how to decouple public facing side with admin side."
If people want to deploy this on their own, they have to hack on stuff that's in the repo to remove all of the webmaker branding. Everything under `/views/public/` should be removed from the repository and included in some other way, maybe via (ugh) git submodules. We also have to think about how to include static resources from the them, so we should probably also add another static middleware ha

[2012-11-07 18:21] brianloveswords commented on #37
PATCHES WELCOME :trollface:

[2012-11-07 18:22] brianloveswords commented on #37
GitHub needs :dealwithit: animated emoji.

[2012-11-07 18:29] stenington commented on #37
[PATCHES](http://www.facebook.com/pages/Patches-the-cat/179739115398499) IS ALWAYS WELCOME!

<img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/162019_179739115398499_4776535_n.jpg">

[2012-11-07 18:45] #37 closed, assigned to nobody

[2012-11-10 12:36] brianloveswords opened #44 "Add badge types/classes; remove code that scrubs all claim coded badges from API"
https://github.com/mozilla/clopenbadger/commit/dbf7e5d04f04e40fab3c0c2865eb0b05c3b40049 this is the commit to undo.

[2012-11-11 09:52] brianloveswords opened #45 "Implement user data destruction"
Let a user delete all her data.

[2012-11-11 09:53] brianloveswords opened #46 "Remove offline badges from index page"
Anything with a claim code should be removed.

[2012-11-11 12:43] brianloveswords opened #47 "When using a non-normalized code claim, badges cannot be claimed"
"fervently-quarrelsome-yak": works fine
"fervently quarrelsome yak": doesn't work.

[2012-11-11 12:43] #47 closed, assigned to brianloveswords

[2012-11-11 14:15] #45 closed, assigned to nobody

[2012-11-11 14:50] brianloveswords commented on #46
Done (in the same hacky way that I remove them from the API call)

[2012-11-11 14:51] #46 closed, assigned to nobody

[2012-11-11 15:01] #39 closed, assigned to nobody

[2012-11-11 15:02] #38 closed, assigned to nobody

[2012-11-11 15:48] #40 closed, assigned to nobody

[2012-11-12 17:37] LeoMcA opened #48 "Change favicon from default express icon to a more webmakery one"

[2012-11-12 17:58] LeoMcA commented on #34
Unless I'm mistaken, this issue is now fixed. Shouldn't it be closed?

[2012-11-13 02:04] brianloveswords commented on #34
It is indeed, thanks @LeoMcA

[2012-11-13 02:04] #34 closed, assigned to nobody

[2012-11-13 17:26] brianloveswords commented on #48
closed by #49

[2012-11-13 17:26] #48 closed, assigned to nobody

[2012-11-13 21:30] LeoMcA commented on #31
It looks like, currently, the field called 'description' is a short description (it's limited to 128 chars), and the criteria field is being used (rather confusingly) as a long description, on the homepage.

Is this what should be happening? Do things need to be renamed? Is this issue actually fixed without anybody realising it? Am I just completely missing the point?

All these questions, and mor

[2012-11-15 16:06] brianloveswords opened #51 "Implement `stats` page"
Aggregate statistics:
- How many claim codes are in the system
- How many claim codes have been claimed
- How many badges have been issued
- How many behaviors have been triggered
- Number of unique issues?

Anything I'm missing?

[2012-11-15 16:09] emgollie commented on #51
Will try to think of others we'd want to add--thanks Brian.

[2013-01-31 18:30] stenington commented on #41
It might be nice to provide a generic set of pages for the basic stuff we anticipate people wanting to do. We could extract some stuff into config, and use Bootstrap so that the lazy or uninterested could just set some variables, pick a [Bootswatch](http://bootswatch.com/) skin and be on their way.

An alternative to git submodules might be to maintain two forks of the project (one generic, one Mo

[2013-01-31 18:35] stenington opened #54 "Be more transparent about what shows up on all.html"
`all.html` currently shows all "non-offline" badges, which seems to be confusing our end-users. I think we should default to showing all badges, and expose an "Exclude from badge listing" option in the admin interface so what does and doesn't show up becomes more obvious.

[2013-01-31 18:45] brianloveswords commented on #54
+1, the show non-offline badges only thing was a mozfest hack. Need a better way to control this.

[2013-02-01 06:10] rossbruniges commented on #41
Regarding the multiple forks it won't - you click the fork button and it
says something along the lines of 'this project is already forked to
Mozilla'

On Thursday, January 31, 2013, Mike Larsson wrote:

[2013-02-01 10:24] jdotpz commented on #41
What is your feeling on performing surgery on this to get in our current working deploy/dev methodology, versus spending that effort on the AWS-ification of it alongside this.  Thus, we could include different repos to strip out what we want, different debian packages to apt-get deploy, etc.

[2013-02-01 10:33] rossbruniges commented on #41
I might have missed some of the context here but it feels like a problem
that might be able to be fixed with some separation/organisation of our
assets?

Or is the problem more along the lines of dev set-up and deployment?

On Friday, February 1, 2013, JP Schneider wrote:

[2013-02-01 14:39] cmcavoy commented on #41
@rossbruniges If they (a user who wants to white label deploy) does it now, they can't pull updates, at least not without a bunch of hassle. If we make the styling a full blown skin (or submodule...or whatever) it makes it easier to get updates overtime.

[2013-02-01 16:49] rossbruniges commented on #41
Sorry - now I'm seeing the whole issue (a luxury I didn't have with the email updates on my phone I see the context set by @brianloveswords)

This is something that WordPress is quite good at - while I don't know if actually this has much benefit over a submodule in reality we could maybe try and emulate WordPress' ability to have theme files at a location different to the core code?

http://codex

[2013-02-01 23:43] cmcavoy opened #55 "Gather month to month badges issued data"
Using the handy dandy field, https://github.com/mozilla/openbadger/blob/development/models/badge-instance.js#L30

NOTE: this one is due Monday morning for Board slides. Word up.

[2013-02-01 23:44] cmcavoy commented on #51
Should include month to month view of stats. Also, it's possible to push JSON blobs into Geckoboard (our fancy dashboard system) so it would be nice to have all these stats available as a push...to...geckoboard. /cc @jdotpz

[2013-02-02 18:08] cmcavoy commented on #55
started messing with this a bit in https://github.com/cmcavoy/openbadger/tree/55-monthly but am a bit baffled by https://github.com/cmcavoy/openbadger/blob/55-monthly/app.js#L74 Not sure if the work in my branch is helpful, as you're super fast at things. BUT, if it is, have at it.

[2013-02-02 18:14] rossbruniges commented on #55
If the ultimate goal is to feed this information into geckoboard I found
they have some nice looking api libraries that can easily provide us this
data too.

On Saturday, February 2, 2013, Chris McAvoy wrote:

[2013-02-03 17:51] brianloveswords commented on #51
Any particular format (properties, structure) they need to be in for Geckoboard?

[2013-02-03 18:09] rossbruniges commented on #51
Is this going to be helpful/speed things up?

https://github.com/danjenkins/node-geckoboard-push

On Sunday, February 3, 2013, Brian J Brennan wrote:

[2013-02-04 15:50] #55 closed, assigned to brianloveswords

[2013-02-11 19:17] jdotpz commented on #51
If you want to start sending (or try) statsd data, you can send to these endpoints/ports:

For infrastructure on MoCo:
StatsD Collector
mofostatsd-prod1.vm.labs.scl3.mozilla.com Port 8126

Graphite front end:
http://mofostatsd-prod1.vm.labs.scl3.mozilla.com:8080

---

For AWS infrastructure,
The statsd collector
statsd.mofoprod.net on two ports, 8125 or 8126

Graphite
http://s.mofoprod.net/

[2013-02-26 18:30] cmcavoy opened #57 "Allow multiple organizations to use a single instance of Open Badger"
All badges currently come from a single organization. Need to update the model to allow badges to come from different organizations.

[2013-02-26 18:31] cmcavoy opened #58 "Workflow for users under the age of 13."

[2013-02-26 18:32] cmcavoy opened #59 "Provide feed of all program information"

[2013-02-26 18:34] cmcavoy opened #60 "Consume feeds of program information from other issuing platforms."

[2013-02-27 22:55] cmcavoy opened #61 "Wireframe Portal Program Search"
From the wiki,

[2013-02-27 22:57] #61 closed, assigned to nobody

[2013-03-02 21:10] threeqube opened #62 "CSV of emails upload capability"
CSV upload user flow:
    (1) I want to issue a badge I created on Open Badger to 10 students of mine
    (2) At the badge admin page, I can select the badge that I want to issue
    (3) Upload a csv file with student emails
    (4) Issue the badge to all 10 of them at once
n.b. Some badges will be vetted by Hive staff, other badges would be automatically triggered like check-in to an event.

[2013-03-02 21:16] threeqube opened #63 "Issue badges based on twitter DM with key hashtags"
workflow:
(1) user tweets picture or comment using predetermined hashtag, for ex.  #hiveexplore (and email address?)
(2) Hive staff vets the make, then send badge or DM activation code to user

If we can make badge issuance automatic based on certain hashtags, that would be awesome.
Small-scale learning events (within Hive event, pop-up) would be vetted by Hive staff.
Large-scale could be automati

[2013-03-10 21:32] cmcavoy commented on #60
no longer valid.

[2013-03-10 21:32] #60 closed, assigned to nobody

[2013-03-10 21:53] cmcavoy opened #64 "Add additional information about orgs"
Each organization needs to have detailed information about themselves.
- [x] identify the fields we need (@eknight @threeqube can help?)

[2013-03-10 22:00] threeqube commented on #64
I'll assign to myself.

[2013-03-11 18:23] paulsmith commented on #57
So this should probably land in two parts: first, the create and update bits of badges are modified to take an issuer as an argument (a `<select>` in the chrome, `<option>`s iterate over a list of issuers which will just be one to start). Second, the admin is updated to list, create new, update existing, and delete (maybe?) issuers.

The maybe? regarding delete is what happens to an orphaned badge

[2013-03-11 18:55] cmcavoy commented on #57
Sounds good to me. If you haven't seen it, you can add to-do lists to these tickets now with the convenient `- [ ] this is a to-do` format, which yields,
- [ ] this is a to-do

Which seems appropriate for the above.

I like cascading deletes, where the deletes are actually just records marked as deleted, so they're easy to recover. But yes, belongs in a future issue.

[2013-03-11 19:00] paulsmith commented on #57
- [x] modify Issuer schema to include a list of badges
- [x] modify Badge schema to require an Issuer
- [x] update badge create/update app views to include issuer as a form field, database writes as appropriate
- [x] add shortName property to issuer, for URLs
- [x] add issuer list, create, and update views in the admin
- [x] make sure initial login flow still works and redirects to creating first

[2013-03-11 19:04] paulsmith commented on #57
Should the Issuer schema have an analogous `badges: [Badge.schema]`?

[2013-03-13 20:40] paulsmith commented on #57
I feel like this branch/pull is in pretty good shape, time for some other eyeballs on it.

[2013-04-02 17:43] stenington opened #67 "Issuer list of earners for mass contacting"
Continued from mozilla/openbadges#809:

The request is to be able to export a list of the email addresses for everyone who has earned a particular badge.

[2013-04-19 14:23] cmcavoy opened #68 "Design v2 of API"
[Notes](https://openbadges.etherpad.mozilla.org/obr-api-v2), [wiki](https://github.com/mozilla/openbadger/wiki/APIv2). /cc @brianloveswords

[2013-04-23 14:21] cmcavoy opened #69 "Need org list in the API"
required by mozilla/CSOL-site#152

[2013-04-23 14:36] cmcavoy opened #70 "Allow for filters and pagination in badge / org listing"

[2013-04-24 01:29] cmcavoy opened #71 "Add Search API endpoint"
Low priority, but wanted to track it. mozilla/CSOL-site#98 might need search. API would take search phrase and return badges in some sort of full text search thing.

[2013-04-24 20:16] jdotpz opened #74 "Will there be separate repos per deployment of this app?"

[2013-04-24 21:30] cmcavoy commented on #74
yes. one for csol, one for webmaker.

[2013-04-24 21:30] #74 closed, assigned to cmcavoy

[2013-04-24 21:31] cmcavoy opened #75 "Badges need orgs AND programs"
Not sure if this is represented, but I forgot that the hierarchy is:

Organizations have (many) programs, programs have (one or more) badges.

One to many in each case.

[2013-04-25 18:37] #68 closed, assigned to nobody

[2013-04-25 23:49] cmcavoy opened #77 "Some badges shouldn't be returned in the all badges API"
Some badges (like the iRemix challenge badges) shouldn't be listed on the CSOL badges page. We _could_ filter on the CSOL side, or in the [API](https://github.com/mozilla/openbadger/wiki/APIv2#get-v2badges).

The simplest possible implementation is to include a 'exclude_from_listing' flag on badge definitions, or CSOL could filter out badges from particular orgs.

[2013-04-26 21:06] threeqube opened #78 "Design the ux around in person non claim code badge issuance"
Reference issue: https://github.com/mozilla/CSOL-site/issues/92

As per a discussion with @threeqube @erinknight and @cmcavoy this is a situation where a learner would be assessed in person and then issued a digital badge in that same moment. We have been told that issuers will be given ipads or tablets specifically for this purpose.

We could design an admin login interface for csol that would gi

[2013-04-29 18:34] cmcavoy opened #79 "Issue by hand"
1. orgs provide emails of users that have access to their badges
2. person with access logs into obr
3. they see a list of badges they can issue
4. they issue badges to individuals, or groups of individuals by email address.

the user should get an email that gives them a link to claim the badge.

[2013-05-01 16:40] brianloveswords commented on #75
From an access control perspective, are the users (as in the people who will log in to issue badges) going to be scoped to organization or program?

[2013-05-01 16:41] brianloveswords commented on #75
ALSO, will every organization have programs? Will badges always be scoped to programs, or will they sometimes be scoped to organizations?

[2013-05-01 17:51] cmcavoy commented on #75
1. i'd like to scope them to organizations, but a few of the orgs are very large, so I anticipate this might be difficult. Go with orgs for now, but understand we might need to adjust when the data comes in.
2. every organization will have programs, or at least one program.

[2013-05-02 03:17] threeqube commented on #75
@carlacasilli can best answer this but @cmcavoy seems right.

Badges will always be scoped to programs.
Every organization will have a program or programs.

[2013-05-02 17:53] jdotpz opened #82 "Add newrelic to this app"

[2013-05-03 21:15] cmcavoy opened #83 "Multi use claim codes"
Create a badge that allows multiple claims on a single claim code. i.e 'kite-festival'.

[2013-05-06 16:19] brianloveswords commented on #83
To be clear on the requirement:
- These will be claim codes than can be used infinite times, and
- They do not expire.

In a sentence, everyone will be able to use `kite-festival` for the Kite Festival badge until the end of time, versus 300 people can use `kite-festival` until June 30th.

[2013-05-07 01:11] threeqube commented on #83
Relevant wireframe is as follows:

![claimcode](https://f.cloud.github.com/assets/535012/425428/1a246c00-adaf-11e2-90c8-2a39e6990dc8.png)

[2013-05-08 13:43] cmcavoy opened #86 "Additional Recommendation logic"
Good notes in mozilla/csol-site#171
- Bias of online over programs
- don't recommend anything that the time has expired
- make recommendations on what they already have...so if someone has an S badge, don't recommend more S stuff.

[2013-05-08 22:46] threeqube commented on #78
@iamjessklein, in a spontaneous discussion with @cmcavoy @erinknight and @carlacasilli today, we realized the following:
- Requesting tablets from the city, deploying them, training orgs not only how to use the tablets but also Open Badger admin, will be HARD.
- Logistics behind printing tens of thousands of badges with unique claim codes for all the participating orgs will be HARD.
- There needs

[2013-05-09 01:00] eknight commented on #78
Just to be clear, I don't think this is an OR, but an AND. We need the CSOL issuing interface (mobile friendly), as well as so low level way they can send us info on the badges to issue for them.

[2013-05-10 12:09] iamjessklein commented on #78
That works, in terms of design it's not too different from the original approach - so no work lost.

[2013-05-10 12:29] iamjessklein commented on #78
![issuer](https://f.cloud.github.com/assets/535012/487854/346c92c8-b96b-11e2-928f-835a2f21589d.png)

![issuer_3](https://f.cloud.github.com/assets/535012/487856/38af78a0-b96b-11e2-92f5-1096ae38549e.png)

![mockup](https://f.cloud.github.com/assets/535012/487865/c994639e-b96b-11e2-9532-c7ce2f161d60.png)

![mockup_4](https://f.cloud.github.com/assets/535012/487899/2fb67ecc-b96d-11e2-884e-f7e83613dc6

[2013-05-10 12:30] iamjessklein commented on #83
Does the actual claim code need to be designed? Like a template?

[2013-05-10 21:08] threeqube commented on #83
@iamjessklein good point. Not for this particular kind of claim code though. This is more a unique url that generates claim codes so we're just providing the city with the urls that they can include on any of their print material for each of the events. However, we should think about it for regular claim codes https://github.com/mozilla/CSOL-site/issues/93 I think @cmcavoy wants to keep this as si

[2013-05-10 21:16] threeqube commented on #78
I believe @cmcavoy said orgs should be able to upload csv files but will let him have the final word.

[2013-05-11 20:50] cmcavoy opened #89 "How do we send emails?"
related to mozilla/csol-site#203

[2013-05-12 14:45] cmcavoy opened #90 "Some badges are awarded when conditions are met"
Related to CSOL STEAM badges, and the first badge / CSOL participation badge. I think we can use the existing trigger / behavior system, but because the triggering would happen inside of OpenBadger, we probably need some changes.

[2013-05-12 23:13] threeqube commented on #90
In addition to the participation badge, these badges are also auto-triggered: https://github.com/mozilla/CSOL-site/issues/50

[2013-05-13 14:36] cmcavoy opened #91 "Load CSOL Data"

[2013-05-13 17:23] brianloveswords commented on #83
Closed by 9589f3557d41dc63f2e69f2f73200c507745cdaf

[2013-05-13 17:23] #83 closed, assigned to nobody

[2013-05-13 18:21] brianloveswords commented on #77
Closed by 2e70166378c70c5233babbe4e51f9af77fdd1ee6

[2013-05-13 18:21] #77 closed, assigned to nobody

[2013-05-13 19:47] iamjessklein commented on #78
After the mockups above - this is the workflow:

![flow](https://f.cloud.github.com/assets/535012/497796/ff053efe-bc04-11e2-85f9-c8f9c6281ea8.png)
![flow](https://f.cloud.github.com/assets/535012/497811/7cead64e-bc05-11e2-9ab0-086a78e90c9c.png)
![flow_2](https://f.cloud.github.com/assets/535012/497821/ada2b536-bc05-11e2-99ff-35cbaf4dbcae.png)

I will mock out separately the workflow for <13

[2013-05-13 19:54] cmcavoy commented on #78
:+1:

[2013-05-13 21:11] brianloveswords opened #93 "Implement "get badge info by claim code" API endpoint"
We need this to implement issue #78, and the related CSOL-site bits: CSOL is going to need to query OpenBadger about a badge only based on the claim code once we send a user over there to claim the badge.

[2013-05-14 14:03] cmcavoy commented on #90
For the STEAM badges, each prerequisite badge will count for either 1/2 or 1 'point' against the related STEAM category badge. When a user earns the requisite number of points, they'll be awarded the STEAM badge. They'll get a notification in CSOL, and an email.

[2013-05-14 14:50] stenington opened #95 "Error adding a program to an issuer with no programs"
Heh, stupid emojis.

[2013-05-14 14:59] stenington opened #96 "Raw png written to console"
Not sure if this would actually affect production, or if the logging will be done differently. It wreaked havoc with my local instance though.

[2013-05-14 15:40] threeqube commented on #90
To add to @cmcavoy, there are 3 types of badges; PARTICIPATION, SKILL and ACHIEVEMENT and each badge in the system is notated of their type.

In order to earn a Scientist badge, one must earn 3 Science SKILL badges.
1 ACHIEVEMENT badge is == 2 SKILL badges.
PARTICIPATION badges do not count towards a skill or achievement.

[2013-05-14 15:53] cmcavoy commented on #90
I think we're going to assign point values to badges...or something. I was
probably diving into implementation there, but we're basically saying the
same thing. Some badges are 0, some are 1/2, some are 1. Or, some are 0,
some are 1, some are 2.

On Tue, May 14, 2013 at 10:40 AM, threeqube notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-14 17:47] brianloveswords commented on #86
Basic implementation done, closing for now. We can either re-open this ticket or open a new one if the implementation needs to get more advanced.

[2013-05-15 00:32] threeqube commented on #90
Got it.

Participation: 0
Skill: 1
Achievement: 2

Need 3 total points in same STEAM theme to earn a S, T, E, A, M badge.

[2013-05-15 16:05] cmcavoy opened #99 "CSOL style for criteria page."
/cc @iamjessklein @mgballard

[2013-05-16 16:04] cmcavoy commented on #64
closing this and opening a more comprehensive data ticket.

[2013-05-16 16:04] #64 closed, assigned to nobody

[2013-05-16 16:27] cmcavoy opened #101 "Confirm all the data, add fields that are missing, API's, etc."
# All the fields

Issuers have Programs, Programs have Badges.
Badges can count towards earning other Badges. Some badges can only be earned by earning prerequisite Badges. Badges can count towards the earning of another Badge in specific numbers, so a single Badge can count as 2 points toward another Badge, or 1 point, or zero...etc.
## Organization / Issuer
- [x] Issuer Name
- [ ] Issuer Descrip

[2013-05-16 18:23] cmcavoy opened #102 "If a badge has the same shortname, it fails"
Which makes sense, but needs to fail better.

![Screenshot](http://s3.amazonaws.com/awesome_screenshot/2155153?AWSAccessKeyId=0R7FMW7AXRVCYMAPTPR2&Expires=1368729257&Signature=4oOFKIGsQxu7f9u83TWScV7j6fQ%3D)

[2013-05-17 18:04] stenington opened #104 "node v0.10.6 ECONNREFUSED on login"
It turns out that the `https` module in v0.10.6 doesn't like [this line](https://github.com/mozilla/openbadger/blob/development/lib/persona.js#L18) of code, and [this call](https://github.com/mozilla/openbadger/blob/development/lib/persona.js#L40) to `https.request` errors out with **ECONNREFUSED**.

It's fine in v0.8.9.

[2013-05-19 00:18] cmcavoy commented on #101
@iamjessklein there's a few fields above that aren't in the mockups...can you confirm? If we don't need them, we won't add or collect them. /cc @threeqube

[2013-05-19 03:46] threeqube commented on #101
We need all of them. @iamjessklein we can discuss but we should make sure the above fields are incorporated.

[2013-05-20 19:03] brianloveswords commented on #101
@cmcavoy For the things that say "mockups don't show this anywhere", should I hold off on implementing those?

[2013-05-20 19:07] cmcavoy commented on #101
No - @threeqube confirmed that they're all necessary. If the mockups don't
show them, we're asking @iamjessklein to add them.

On Mon, May 20, 2013 at 2:03 PM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-20 19:08] brianloveswords commented on #101
@cmcavoy What is the "badge category"? Does that mean "science", "technology", "math", etc?

[2013-05-20 19:11] brianloveswords commented on #101
@cmcavoy Is badge "time to earn" a dropdown list with just those three options?

[2013-05-20 19:11] cmcavoy commented on #101
@brianloveswords yes, so replace it with whatever is appropriate for the related steam category / auto-award work.

[2013-05-20 19:12] cmcavoy commented on #101
Yes, for now. Might add more options, but for now - yes. For sure options rather than free-form.

[2013-05-20 19:15] brianloveswords commented on #101
What are the rest of the items in the list?

[2013-05-20 19:18] cmcavoy commented on #101
There's three, "self-paced activity", "activity" and "participation".

@threeqube @carlacasilli can confirm for sure. The key one to track is self-paced v. the other two. Self-paced will be presented differently in the interface and will use Aestimia for submissions. /cc @stenington and @andrewhayward as they're working on the other side that will consume this field.

[2013-05-20 23:57] threeqube commented on #101
Sorry coming to this late.

Badge type is actually as follows: Participation, Skill, Achievement

Activity type: online or offline

Badge topic: S, T, E, A, or M

Time to learn, I'm not sure how best to handle as a drop down. We decided not to include this as a filter because the data normalization might get too hairy. @carlacasilli may be able to provide drop down suggestions.

[2013-05-21 17:35] threeqube commented on #101
@cmcavoy this is for Camri but activity type (online or offline) is not specifically called out on the spreadsheet but but that information needs to be input when we input all the badges. @carlacasilli and I can talk Camri through on which ones are online and which are offline.

[2013-05-22 18:00] cmcavoy commented on #89
mandrill

[2013-05-22 18:00] #89 closed, assigned to nobody

[2013-05-22 18:00] #95 closed, assigned to nobody

[2013-05-22 18:01] cmcavoy commented on #91
going at this one by hand.

[2013-05-22 18:01] #91 closed, assigned to nobody

[2013-05-23 15:06] cmcavoy opened #111 "Add a datepicker to the new program start / end date"
The page lives at /admin/issuer/{issuer id}/program. The view is admin/create-or-edit-program.html

[2013-05-23 23:12] mgballard opened #114 "New Issuer fails with capital letter in e-mail address"
![screen shot 2013-05-23 at 7 11 14 pm](https://f.cloud.github.com/assets/1004790/557837/2d4cf95e-c3fe-11e2-8ff8-e7aac96f80af.png)

[2013-05-23 23:30] brianloveswords commented on #114
BLARGH, the validation regex needs to have the `/i` option added.

[2013-05-24 00:39] cmcavoy opened #116 "Update Data Fields"
- [ ] Badge type dropdown items are incorrect  Badge type: Participation, Skill, Achievement
- [ ] Activity type: online or offline needs to be added as a new data field.

[2013-05-24 01:04] #114 closed, assigned to nobody

[2013-05-24 16:02] cmcavoy opened #120 "Need a way to define assessment rubric (for aestima)"
We need a way to assign n-many boolean questions to a badge class. Those will be sent to aestimia and displayed to the person who is handling the assessment.

I don't think that we necessarily need to care about the answer to those questions in openbadger, so we can probably use some sort of the text/markdown list data. @toolness (who will be implementing this) seems to agree.

[2013-05-24 20:07] stenington opened #121 "Implement "claim badge by claim code" API endpoint"
CSOL needs an endpoint to use to indicate that a logged in CSOL user is claiming a badge by claim code. This is related to #93.

[2013-05-24 20:08] cmcavoy opened #122 "Issue a badge to a single user, include evidence"
Allow a mentor to issue a badge and include evidence.

[2013-05-24 20:49] brianloveswords commented on #121
I believe @toolness is going to be working on the API parts while I'm gone, so this might be assigned to him.

[2013-05-26 18:14] brianloveswords opened #126 "Add frontend connections for `categoryAward`, `categoryRequirement` and `categoryWeight`"
This is for the big category, city-wide badges (i.e., "Science badge", "Technology badge").
- `categoryAward` is whether or not a badge should be considered one of these city badges (there will only be five badges that should have this be `true`)
- `categoryRequirement` is the "score" needed for a category badge to be auto-awarded (as far as I know, this will almost always be 3 for CSOL)
- `catego

[2013-05-26 19:05] threeqube opened #127 "Enable orgs to generate claim codes themselves"
Currently, we need to generate claim codes for the orgs who need them to issue paper claim code badges. We should automate this for the orgs so they can create the codes themselves whenever they need them.

[2013-05-26 20:00] cmcavoy commented on #127
not for June 1, but yes...agreed.

[2013-05-27 00:44] threeqube commented on #127
:+1:

[2013-05-27 00:51] threeqube commented on #126
Logic here fyi: https://github.com/mozilla/openbadger/issues/90#issuecomment-17913973

[2013-05-27 11:48] cmcavoy commented on #111
datepicker comes for free in Chrome. Closing this one for now.

[2013-05-27 11:48] #111 closed, assigned to toolness

[2013-05-27 11:56] cmcavoy commented on #7
dupe

[2013-05-27 11:56] #7 closed, assigned to nobody

[2013-05-27 13:09] cmcavoy commented on #78
Coming out of the training last week, it seems like this flow will be email based,
1. A mentor / issuer / org adds the learners email to the OpenBadger award badge interface.
2. The learner gets an email with a link to the badge acceptance. The link includes a claim code embedded in the url.
3. Learner clicks and lands on a badge acceptance page.
4. Learner logs in and accepts the badge.

[2013-05-27 14:08] #57 closed, assigned to nobody

[2013-05-27 14:08] #79 closed, assigned to brianloveswords

[2013-05-27 14:08] #59 closed, assigned to nobody

[2013-05-27 14:11] cmcavoy opened #128 "Email learners they have a badge to claim"
related to #78

email should include link to claim the badge on csol, and information about the badge.

[2013-05-27 14:12] cmcavoy commented on #90
closing this, final work is in #126.

[2013-05-27 14:12] #90 closed, assigned to nobody

[2013-05-27 14:12] #69 closed, assigned to nobody

[2013-05-27 14:14] #116 closed, assigned to nobody

[2013-05-27 14:15] #101 closed, assigned to nobody

[2013-05-27 14:32] toolness commented on #120
I was thinking that in the criteria area, since it already takes markdown, we could either borrow from github's [task list markdown](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments), or we could even just interpret any markdown bulleted list item as a rubric, and search for the string `(required)` in every bulleted item to detect whether it was required. However, Brian said th

[2013-05-27 14:56] cmcavoy commented on #120
Examples of the current criteria (rubrics) are listed [here](https://docs.google.com/spreadsheet/ccc?key=0AopwAgtrdYO5dEVqMWlwYWdsZGs5Z0s2LUI2TWM4N0E&usp=sharing) columns Y and Z (that link is a copy of the original data, it's just an example, it is _not_ the final list).

An example:

I'd translate that to:

`Has the PDF been uploaded of the certificate earned from the Blobz Guide to Electric Cir

[2013-05-27 15:26] threeqube opened #129 "Copy for CSOL issue non-claim code badges landing page"
Relevant workflow can be found here: https://github.com/mozilla/openbadger/issues/78#issuecomment-18497848

Specific page is here:

![landing-page](https://f.cloud.github.com/assets/535012/487854/346c92c8-b96b-11e2-928f-835a2f21589d.png)

[2013-05-27 15:27] threeqube opened #130 "Implement copy for CSOL issue non-claim code badges landing page"
copy ticket here: https://github.com/mozilla/openbadger/issues/129

[2013-05-27 15:34] threeqube opened #131 "Copy for CSOL issue non-claim code badges email and badge input page"
Relevant workflow can be found here: https://github.com/mozilla/openbadger/issues/78#issuecomment-18497848

Pages:

![input-email](https://f.cloud.github.com/assets/535012/487856/38af78a0-b96b-11e2-92f5-1096ae38549e.png)

![email-badge](https://f.cloud.github.com/assets/535012/487865/c994639e-b96b-11e2-9532-c7ce2f161d60.png)

![multiple-emails](https://f.cloud.github.com/assets/535012/487896/ee85a

[2013-05-27 15:34] threeqube opened #132 "Implement copy for CSOL issue non-claim code badges email and badge input page"
Copy ticket: https://github.com/mozilla/openbadger/issues/131

[2013-05-27 15:44] threeqube commented on #78
@iamjessklein do we need this page?

![confirmation](https://f.cloud.github.com/assets/535012/487899/2fb67ecc-b96d-11e2-884e-f7e83613dc64.png)

Feels like we can just have text with the CTA [issue another badge] using same page as this one?

![email-input](https://f.cloud.github.com/assets/535012/487865/c994639e-b96b-11e2-9532-c7ce2f161d60.png)

What do you think?

[2013-05-27 15:59] threeqube commented on #78
Another question. We're not doing this email anymore right?

![email-learner](https://f.cloud.github.com/assets/535012/497796/ff053efe-bc04-11e2-85f9-c8f9c6281ea8.png)

Instead the user will have a notification indicator on their dashboard and when they go to the relevant badge, there will be some text there right?

[2013-05-27 16:10] threeqube opened #133 "Copy for CSOL issue non-claim code badges badge award text for learner"
Relevant workflow can be found here: https://github.com/mozilla/openbadger/issues/78#issuecomment-18497848

When an > 13 learner is issued a badge, the notification is through an indicator as follows where you see the number 2 and the "new" highlights:

![dashboard](https://f.cloud.github.com/assets/1945209/432271/af5b3236-ae9f-11e2-91c1-e20af528d427.png)

When you click on one of the badges with

[2013-05-27 16:11] threeqube opened #134 "Implement copy for CSOL issue non-claim code badges badge award text for learner"
Copy here: https://github.com/mozilla/openbadger/issues/133

[2013-05-27 16:12] threeqube commented on #78
I don't think we need page either but let me know if you think otherwise @iamjessklein

![confirmation-modal](https://f.cloud.github.com/assets/535012/497821/ada2b536-bc05-11e2-99ff-35cbaf4dbcae.png)

[2013-05-27 16:24] threeqube commented on #128
I believe what @iamjessklein discussed is as follows:
- Learners > 13
  - No email is sent to learner. Rather newly earned badges are highlighted as follows in the learner's dashboard.

![dashboard](https://f.cloud.github.com/assets/1945209/432271/af5b3236-ae9f-11e2-91c1-e20af528d427.png)
- Learners < 13
  - Email is sent to parent. Parent claims the badge for the learner. Learner knows when the b

[2013-05-27 16:38] toolness commented on #120
Ah, ok. I talked to Chloe and she said that the "minimum number of questions passed" thing isn't actually required, it was just a thing she put in her mockups, so I didn't actually implement it in Aestimia. Hopefully that is not a dealbreaker.

[2013-05-27 16:45] toolness commented on #120
Hmm, looking at the spreadsheet, it seems like the **ASSESSMENT** field is just the **CRITERIA** field listed in question form, rather than statement form. It seems like we could achieve both by just having the criteria field in openbadger be a bulleted list of statements, with some of them containing the string `(optional)`, and then parsing that as the rubric (indeed, the sample rubric provided

[2013-05-27 17:05] carlacasilli commented on #120
Hey all, I think what you're looking for is actually found on the DYN spreadsheet in columns Q, R & S: https://docs.google.com/spreadsheet/ccc?key=0Atr9GCn8Bz1_dHR0RjAwOGVITXZCdVg5dDR3MzlTZ1E#gid=6

It has not been copied over into the canonical spreadsheet, but it could be.

[2013-05-27 17:15] cmcavoy commented on #120
Carla, this is the first time I've seen there's specific reflection
questions for the submitters. It's not on any of our mock-ups, or been
discussed.

On Mon, May 27, 2013 at 12:05 PM, Carla Casilli notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-27 17:19] carlacasilli commented on #75
For the most part, badges are issued by programs and organizations run programs. Sunny's equation is almost always right (Badges < Programs < Orgs). However, ASM is slightly different in that they're an org and the badges are named after them rather than the programs that they represent. It's not clear who is actually issuing them, ASM or the individual programs that ASM is funding.

Also, the sel

[2013-05-27 17:22] carlacasilli commented on #120
Okay, quick, easy way to solve this: provide the mentors with this spreadsheet when they're reviewing content and that can inform the reflection that's shared with the badge applicant.

[2013-05-27 17:29] chloeatplay commented on #120
@ all - we definetely have considered "criteria" to be the "rubric" all along in our design. I would not confuse the two, also I think that questions are easy to turn into statements, right? Happy to help do that if you need a hand @carlacasilli
@cmcavoy @toolness actually in the mockups- we had a reflection question for the submitters- a prompt for them to add something in the text field when the

[2013-05-27 17:30] cmcavoy commented on #75
Hey @carlacasilli we have to figure out how to make ASM fit into the model of orgs > programs > badges. We can't change the data model. We can reevaluate for post launch, but for June 1, everyone needs to fit into orgs > programs > badges.

[2013-05-27 17:30] #75 closed, assigned to nobody

[2013-05-27 17:34] cmcavoy commented on #120
@chloeatplay Yes, we've had a place for reflection since the beginning, but they were never prompted by specific questions. At least, not that I've seen. I could be wrong, but at this point I'm not sure how we're going to prompt the submitters with specific questions to reflect on. Everything that we've built is along the lines of "upload evidence, include a written reflection on that evidence".

[2013-05-27 17:39] carlacasilli commented on #120
Perfect way to solve this, especially since the criteria for the self-paced activities asks for this, e.g., "Badge is earned by (1) answering the reflection questions thoughtfully, and (2) including evidence and/or details from what you watched."

Good call.

[2013-05-27 18:12] cmcavoy commented on #129
Not sure this is right. When someone signs into OpenBadger, they're 'detected' as an admin or an issuer. If they're an admin, they get the admin panel, if they're an issuer, they get the issue badges panel. We won't be able to separate out the copy until we know who they are.

If you go to the [staging site](http://openbadger-csol.mofostaging.net/) you can see where we're at currently, and suggest

[2013-05-27 18:14] cmcavoy commented on #78
We have this page already for bulk issuing, but we need a page to issue to
an individual who also gets evidence added to their badge. Use case is an
in person badge award where the issuer takes a picture of some work to
include, or includes a paragraph of text. We might be too far along to
actually implement this in the next 4 days, but...that's what was described
to us on the demo call last week.

[2013-05-27 21:50] toolness commented on #121
Right on, I guess this is done. As cmcavoy mentioned [here](https://github.com/mozilla/openbadger/pull/136#discussion_r4403176) though, it looks like we should eventually add a GET endpoint that provides information about a badge given a claim code, so that the CSOL site and other clients can implement confirmation UIs.

[2013-05-27 21:50] #121 closed, assigned to toolness

[2013-05-28 00:56] threeqube commented on #78
Wait, @cmcavoy which page are you referring to? I listed several in this ticket...

[2013-05-28 00:59] threeqube commented on #129
Ah, you're right. I will close this and issue the correct tickets accordingly.

[2013-05-28 00:59] #129 closed, assigned to emgollie

[2013-05-28 01:00] threeqube commented on #130
Screen is incorrect.

[2013-05-28 01:00] #130 closed, assigned to cmcavoy

[2013-05-28 01:15] threeqube commented on #120
@carlacasilli @chloeatplay are we all agreeing on handling this through text prompt in the open text field here in this mockup?

![aestimia-assessor](https://f.cloud.github.com/assets/535012/484565/c8d4e2f2-b8db-11e2-8d4b-f55670278042.png)

[2013-05-28 13:04] cmcavoy commented on #78
@threeqube The page in OpenBadger where you can issue badges to a list of
email addresses.

On Mon, May 27, 2013 at 7:56 PM, threeqube notifications@github.com wrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-28 13:05] chloeatplay commented on #120
yes! agreed!

On Monday, 27 May 2013 at 21:15, threeqube wrote:

[2013-05-28 13:33] threeqube commented on #78
Got it. Thanks @cmcavoy

[2013-05-28 13:34] threeqube commented on #120
Sounds good. Just like in @chloeatplay's original mockup. Cool! :dancers:

[2013-05-28 13:46] carlacasilli commented on #120
Just to be clear, there are two things happening here.
1) We need to ensure that folks know how to get the badges and this means including the reflection questions in the badge criteria
2) The open text field allows the mentors to review and respond to the badge applicant's work on those reflection questions.

I'm totally down with that. :dancer:

[2013-05-28 13:49] chloeatplay commented on #120
@carlacasilli yup- happens already when you apply for the badge, you see those criteria ;) at the mockup at least.
for 2) ditto!
3) I salute your emoji use- :ghost:

[2013-05-28 15:11] stenington commented on #93
Not super urgent, I guess, but having this will allow CSOL to display more info about the badge a user is potentially about to claim.

[2013-05-28 15:24] cmcavoy commented on #93
@toolness this is probably something you can implement quickly if it helps
@mlarsson

On Tue, May 28, 2013 at 10:11 AM, Mike Larsson notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-28 16:38] toolness commented on #120
Ok, in toolness/clopenbadger@74c183b9308fde9c7cfc0224ab13987821446730 I added some functionality that processes the criteria text to create a rubric. From the commit log:

We still need to make API endpoints return the rubric information, but hopefully this helps us get closer to a solution for this issue.

[2013-05-28 16:54] cmcavoy commented on #120
:+1:

[2013-05-28 17:42] #93 closed, assigned to toolness

[2013-05-28 17:44] #126 closed, assigned to toolness

[2013-05-28 17:44] #96 closed, assigned to nobody

[2013-05-28 19:24] #120 closed, assigned to toolness

[2013-05-28 19:41] cmcavoy opened #140 "BLOCKER: Change some fields to not-required"
This is a blocker for data entry, the following fields need to be marked as not-required
- [x] program contact
- [x] issuer contact
- [x] issuer image

[2013-05-28 19:42] cmcavoy opened #141 "BLOCKER: Categories and Age range need multiple choice"
Categories (STEAM category) and age range need to have multiple choices instead of a single choice.

[2013-05-28 19:47] cmcavoy opened #142 "BLOCKERISH Make issuers in an alphabetical list on the index / summary page"
instead of in a paragraph.

Not _really_ a blocker, but it's a small change that will make Camri's data entry easier.

[2013-05-28 20:13] toolness commented on #141
fuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuck

[2013-05-28 20:30] cmcavoy commented on #86
- Bias of online over programs
- don't recommend anything that the time has expired
- make recommendations on what they already have...so if someone has an S badge, don't recommend more S stuff.

[2013-05-28 20:44] carlacasilli commented on #86
@cmcavoy Q: where do you want the recommendation aspect to go, in this ticket?

Ex:
If a badge represents STE, show S, T, E badges; make up the remaining two recommended next step badges randomly with S, T, E category badges.

[2013-05-28 20:46] cmcavoy commented on #86
@ccasilli work on it offline, then talk to me and i'll put it in this
ticket.

On Tue, May 28, 2013 at 3:44 PM, Carla Casilli notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-28 22:08] toolness opened #143 "Categories need multiple choice"
This one is slightly complicated because it involves changing the auto-awarding code too.

[2013-05-28 22:09] toolness opened #144 "Age range needs multiple choice"
Yup.

[2013-05-28 22:09] toolness commented on #141
This is actually two bugs, which I've split out into #143 and #144. Closing this one.

[2013-05-28 22:09] #141 closed, assigned to toolness

[2013-05-28 22:22] toolness commented on #140
It appears to already be the case that program contacts aren't required... Let me know if I'm wrong about this, but I just tried making a new program on my local instance, without providing the contact or the phone number, and it seemed to work fine.

[2013-05-28 22:24] toolness commented on #140
Hmm, it also seems to be the case that issuer image isn't required, either. I'm able to create new issuers without having to specify an image on Firefox. So, marking this ticket as done... if any of the sub-parts are still not working for you, please open separate bugs for them. Thanks!

[2013-05-28 22:24] #140 closed, assigned to toolness

[2013-05-28 22:32] #142 closed, assigned to toolness

[2013-05-28 23:15] #144 closed, assigned to toolness

[2013-05-29 00:41] toolness opened #146 "Expose badge category information in API, document it"
We've added category stuff to the badge model, primarily for STEAM badges, and I assume that the CSOL site will need this information when it queries us. Right now we're not exposing it through the API, though; we should do that and add it to the [spec](https://github.com/mozilla/openbadger/wiki/APIv2).

@andrewhayward and @stenington, let me know if you disagree.

[2013-05-29 01:28] stenington opened #147 "Invalid assertion url returned by api"
Not sure if this is already being tracked, but the new `POST /v2/claim`, which piggybacks on the method behind `POST /v2/user/badge/:shortname`, returns an invalid assertion url on success. The url returned is of the format `/badge/assertion/:_id`, but the badge instance lookup method is searching by `hash`, which doesn't seem to exist on badge instances any more. So... you know... that's fun.

[2013-05-29 02:13] cmcavoy commented on #147
this seems like a healthy, solid BFD.

On Tue, May 28, 2013 at 8:28 PM, Mike Larsson notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 10:52] toolness commented on #147
Sometimes I really miss static typing.

[2013-05-29 12:15] #143 closed, assigned to toolness

[2013-05-29 12:35] toolness commented on #147
Hmm, are you sure that the `hash` property doesn't exist on badge instances anymore? I think that property was removed from badge _types_, but not badge _instances_... In fact I just wrote a test that proves it, I think, in 8ad090c9684428163135fe8deaa9f27e5a3a8fb0.

I think the problem is rather that `POST /v2/claim` just needs to be returning a URL of the format `/badge/assertion/:hash` rather th

[2013-05-29 14:02] toolness commented on #147
Um, wow. There is a method `BadgeInstance.prototype.makeAssertion()` that is never being called when the badge instance is created, and as a result the hash is never being set, so even when I fix `BadgeInstance.prototype.relativeUrl()` to return the hash instead of the id, it's still completely wrong.

The good news is that I'm writing a regression test to explore this phenomenon, so once I figure

[2013-05-29 14:14] toolness commented on #147
This bug is hilarious.

[2013-05-29 14:24] brianloveswords commented on #147
Ugh, yeah. We should be looking up things by id now -- that hash thing was from The Old Version, which used the native mongo ids rather than the string ids we are using now.

[2013-05-29 14:49] toolness commented on #147
Oh. Well, uh, I guess I am getting things to work The Old Way, and writing a test for it while I do it, so once I'm done with that I will fix things to work the New Way, and verify that things still work because I won't have to change the test.

[2013-05-29 14:56] brianloveswords commented on #147
Oh yeah, definitely feel free to fix it however you feel is best.

[2013-05-29 14:58] toolness commented on #147
Oh, apparently I can't make it work the old way, because using the assertion hash in the assertion URL can't be done since the assertion URL has to appear in the assertion itself.

Sooo, implementing it the new way now!

[2013-05-29 15:45] cmcavoy opened #149 "Update time to complete field"
1 - 24 hours
1 - 6 days
1 - 4 weeks
1 - 3 months
more than 3 months

[2013-05-29 16:04] cmcavoy opened #150 "Generate JWT key for iRemix on staging"
email it to chris@mozillafoundation.org

they need to start integration work with iRemix, they need a key so they can make authenticated calls.

[2013-05-29 16:11] brianloveswords commented on #149
Just an idea: Could this possible be simplified by doing "hours", "days", "weeks", "months", "longer"?

[2013-05-29 16:16] cmcavoy commented on #149
pro-move. let's do that.

On Wed, May 29, 2013 at 11:11 AM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 16:45] stenington opened #151 "/v2/user endpoint not right"
I'm getting this:

[code]

Looks like it's returning an id or something instead of a shortname?

[2013-05-29 16:49] #147 closed, assigned to toolness

[2013-05-29 17:26] toolness commented on #150
Is this something JP can do?  It's just an environment variable, `OPENBADGER_JWT_SECRET`, that needs to be set to something secret. I don't know where the staging/prod machines are, so I'm not sure how to do it myself...

[2013-05-29 17:32] cmcavoy commented on #150
you're totally right, I thought it was more complicated. I'm on it.

On Wed, May 29, 2013 at 12:26 PM, Atul Varma notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 17:48] #151 closed, assigned to toolness

[2013-05-29 17:48] #150 closed, assigned to toolness

[2013-05-29 17:55] toolness commented on #149
Cool. Internally in the DB we can call these whatever we want... currently it's "short", "medium", and "long", even though the text the users see is different.

I was thinking that since there are now 5 categories instead of 3, we could do **short**, **medium**, **long**, **epic**, and **legendary**, but I suppose we can just store things internally as their actual names, since they are nice and s

[2013-05-29 17:58] cmcavoy commented on #149
There's some data entered under the old schema, but it's easy enough to
correct. I'd rather store the 5 fields in more obvious form. like, which is
longer...epic...or legendary? It's not obvious...i mean...unless you're jrr
tolkien.

On Wed, May 29, 2013 at 12:55 PM, Atul Varma notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 17:59] toolness commented on #149
or you play World of Warcraft.

[2013-05-29 18:01] cmcavoy commented on #149
:thumbsup: to time-based words (day, week, etc...) ;)

On Wed, May 29, 2013 at 12:59 PM, Atul Varma notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 18:04] #149 closed, assigned to toolness

[2013-05-29 18:05] toolness commented on #149
Cool. I also mentioned in the commit log:

If you disagree, let me know and I'll change the internal representation to "longer" too.

[2013-05-29 18:07] cmcavoy commented on #149
We have a handful that are "1 year". I'm ok with 'years' in the db.

On Wed, May 29, 2013 at 1:05 PM, Atul Varma notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-05-29 18:25] cmcavoy opened #152 "Can this page generate claim codes?"
A page exists to add claim codes, an example from staging: [http://openbadger-csol.mofostaging.net/admin/badge/water-conservation-at-home/claims/](here).

Can you add the ability to generate the claim codes there?

[2013-05-29 18:45] #104 closed, assigned to nobody

[2013-05-29 19:16] toolness commented on #152
Sure, I could bust that up yo.

[2013-05-29 20:27] stenington opened #153 "Duplicate claiming"
Claiming an unused claim code for a badge you already have reports an error, but ends up claiming the badge a second time anyway.

If I set up a badge with claim codes A and B, I can use the API to claim A with no problem. If I then try to claim B, the API reports an error but I can see in the openbadger admin console that my email is now associated with both claim codes.

[2013-05-29 20:37] brianloveswords commented on #153
Ah, so I think the problem is it doesn't actually check if the user already owns a badge before it does the claim. So the claim goes through, then an error happens when it tries to give the user another instance (which is disallowed). We should throw a `BadgeInstance.userHasBadge` into the mix somewhere.

[2013-05-29 21:14] #152 closed, assigned to toolness

[2013-05-29 21:38] toolness commented on #153
Bloody hell, it's my fault! I even wrote a [TODO](https://github.com/mozilla/openbadger/commit/b33e06834ea6df557594be793b052823da895786#L1R154) about it in the code, but didn't realize the particular edge case you discovered. Guess I am on the hook.

[2013-05-29 22:21] #153 closed, assigned to toolness

[2013-05-30 18:58] cmcavoy opened #158 "Need a delete button in the admin interface"
to delete badges. no delete button for programs and issuers yet, as I don't know if it should cascade or what.

[2013-05-30 19:45] toolness commented on #158
Ok... I assume this should cascade down to all instances of the badge too, right?

[2013-05-30 20:04] cmcavoy commented on #158
If there's instances of the badge, then don't allow them to delete.

The use case here is Camri needs to delete test badge definitions. We could do it by hand if we need to.

[2013-05-30 20:22] toolness commented on #158
Ohhh got it.

[2013-05-30 21:04] toolness commented on #146
Ok, they're implemented and documented in the spec now. [Here is the diff for the spec](https://github.com/mozilla/openbadger/wiki/_compare/da318dff300c3409624d7e8530b58766b6ab15f6...caa0c6fa2e218eee4b3442311e2af9efe237c7dc).

[2013-05-30 21:04] #146 closed, assigned to toolness

[2013-05-30 22:28] stenington opened #159 "/v2/user/badge/<shortname> endpoint"
Do it plox: https://github.com/mozilla/openbadger/wiki/APIv2#get-v2userbadgeshortname

Note that there's some flexibility in the endpoint description now. You should probably update the wiki once the endpoint is actually implemented to reflect reality, or let me know so I can update it.

[2013-05-31 12:01] #159 closed, assigned to toolness

[2013-05-31 12:02] toolness commented on #159
I updated the API docs too, here is the changeset: https://github.com/mozilla/openbadger/wiki/APIv2/_compare/38dc75df520ad1bf8f1b38f89a71b6cd92d429f7...f729852a032e0bfdf2a6effb5de2919283e65bf3

[2013-05-31 12:04] toolness commented on #159
Note that I ended up making the response look a little bit like the old OpenBadges badge spec... `badge` contains the instance information, but `badge.badgeClass` contains the badge class information. I kind of wanted to call `badgeClass` just `class`, but because that's a reserved word in JavaScript, I wasn't sure if it'd fly. If we really want to, though, we can change it. Let me know what you t

[2013-05-31 12:10] toolness opened #160 "Move wiki/APIv2 into the code repository?"
I'm wondering if we should move the spec at [wiki/APIv2](https://github.com/mozilla/openbadger/wiki/APIv2) into the repository, say, into a `docs/api.md` file. Github's default view for Markdown files would make the spec just as easy to view on the web (see e.g. [this example](https://github.com/mozilla/openbadger/blob/v2.0/README.md)), but it'd tie every version of the spec to a specific version

[2013-05-31 15:13] stenington commented on #160
Makes a ton of sense to me. I think the wiki doc is useful as an API wishlist, but having docs that represent reality would be really nice.

[2013-05-31 15:30] stenington opened #161 "Wrong issuer url in assertion"
I think [this line](https://github.com/mozilla/openbadger/blob/v2.0/models/program.js#L80) provides the wrong url for an assertion. I believe it needs to be the base url of the openbadger instance to be OBI-compliant. Right @brianloveswords?

[2013-05-31 17:40] stenington opened #162 "Need program and issuer information along with badge data through API"
It would be awesome if the `/v2/badge/:shortname` and `/v2/user/badge/:shortname` endpoints returned badge data with fully inflated program and issuer data. Several CSOL screens want to link between those elements, and making several API calls is annoying.

[2013-05-31 18:37] stenington commented on #162
Basically instead of `"program": <shortname>` it would be nice to inflate that shortname to the same thing returned by [`/v2/program/:shortname`](https://github.com/mozilla/openbadger/wiki/APIv2#get-v2programshortname).

[2013-05-31 20:12] stenington opened #163 "API filtering"
Right now any results filtering is done in CSOL by fetching the entire result set and then paring it down on the CSOL side of things. I think it makes sense to provide filtering options through the API though for any endpoint that returns a list of things, like `/v2/badges`, `/v2/programs`, and maybe `/v2/user`.

The current CSOL filters include category, age group, and "parent object" (org for pr

[2013-05-31 20:22] toolness commented on #162
Hmm, I think that makes sense when we're delivering only one badge, which we are in the endpoints you mentioned. But for cases where we return lots of badges, is it ok to just keep returning the shortname of the program? Otherwise the denormalized data could get massively big for lots of badges.

[2013-05-31 20:33] stenington commented on #162
Yeah, I think that's fine for CSOL purposes, certainly.

[2013-06-01 01:16] #160 closed, assigned to nobody

[2013-06-01 01:16] #162 closed, assigned to toolness

[2013-06-01 12:27] cmcavoy opened #165 "Add recommend based on badge to endpoint"
Related to #86 but more about immediate things we need to use the recommendations on CSOL at all. In addition to [recommendations based on user](https://github.com/mozilla/openbadger/blob/v2.0/docs/api.md#get-v2userrecommendations) we need an endpoint that returns similar badges if passed a specific badge.

Probably something like `GET /v2/badge/<shortname>/similar` that returns ~5-10 badges in th

[2013-06-01 13:23] cmcavoy opened #166 "Send an email when user earns a STEAM badge"
Process for this email,
1. send user information to iRemix
2. iRemix returns a token
3. assemble email, including link to iRemix with embedded token
4. send email to user

[2013-06-01 14:41] cmcavoy commented on #165
@brianloveswords assigned, this is a biggish blocker, fyi.

[2013-06-01 15:11] threeqube commented on #166
We probably need someone to write up that email. What does it need to say? cc/ @emgollie

[2013-06-01 17:35] emgollie commented on #166
Can do. @cmcavoy, mind telling us more?

[2013-06-01 17:43] cmcavoy commented on #166
mock copy

Dear Friend,

Because of your hard work at Science badges, you get a S badge, you're
super good at Science. Now you get to do more things at iRemix, because
it's a city level challenge thing. Here's the link to iRemix LINK. You are
great at science.

Your Friend,
Badges

On Sat, Jun 1, 2013 at 12:35 PM, Emily Goligoski
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chm

[2013-06-01 17:51] emgollie commented on #166
Do we have a STEAM field option (i.e. Science)?

Copy:

Dear [earnername],

Congrats! You've earned the [Badge Name] Badge for great work in [STEAM field].

You were awarded this badge because you earned it. It's the result of your hard work.

Now you can try more fun city-level challenges at iRemix here: [iRemix LINK]

Keep on earning and exploring!
From your friends at the Chicago Summer of Lear

[2013-06-01 17:53] cmcavoy commented on #166
I think we do, but if not, we'll tweak.

On Sat, Jun 1, 2013 at 12:51 PM, Emily Goligoski
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-01 18:21] threeqube commented on #166
What do you mean by STEAM field?

[2013-06-01 19:03] emgollie commented on #166
To identify which area you earned recognition within: ...for great work in math (or arts, or engineering, etc.)

[2013-06-01 19:06] cmcavoy commented on #128
@threeqube we're going to send emails to over 13...

The flow is,
1. issuer puts email address into form on openbadger
2. user gets email with link to csol site with claim code embedded, example `http://chicagosummeroflearning.com/claim/1111-1111-1111-1111
3. user clicks on link
4. user is asked to log in or create an account
5. user is issued the badge

[2013-06-01 20:11] threeqube commented on #128
Sounds good. We would need copy for that email then. @emgollie

[2013-06-01 20:12] threeqube commented on #166
Ah gotcha. Makes sense. :koala:

[2013-06-02 16:05] andrewhayward opened #167 "Program(s) API endpoint doesn't include `issuer` information"
[The docs](https://github.com/mozilla/openbadger/blob/v2.0/docs/api.md#get-v2programshortname) say that the `program` endpoint should include `issuer` information, but that doesn't seem to be the case.

Equally, [the `programs` endpoint docs](https://github.com/mozilla/openbadger/blob/v2.0/docs/api.md#get-v2programs) don't mention anything about issuers, but might be useful to include them here to

[2013-06-02 16:08] andrewhayward commented on #167
Also, where the docs do mention `issuer`s, it doesn't say anything about `shortname`s, which would be useful information to have.

[2013-06-02 16:13] toolness commented on #167
Hmm, I thought I fixed your first concern in 74a399b44358b9ec3df30994b1d906d3eeb3ad96. Are you using the latest master branch?

[2013-06-02 16:13] toolness commented on #167
Ah, good point about the shortnames...

[2013-06-02 16:40] andrewhayward commented on #167
I'm using whatever's deployed on staging, which may or may not be up-to-date.

[2013-06-02 16:41] brianloveswords commented on #165
I just noticed – this ticket says "category", and the original implementation/ticket said "tags". Should it be tags or categories?

[2013-06-02 16:44] andrewhayward opened #168 "Add age ranges to program list"
Programs don't currently carry age range information. This appears to be data owned by individual badges, but a list of ranges based on that would be good to have.

[2013-06-02 16:51] cmcavoy commented on #165
Category...tags is sadly under-utilized right now.

On Sun, Jun 2, 2013 at 11:41 AM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-02 17:30] andrewhayward opened #169 "Add activity type information to `programs` API endpoint"
Programs don't currently carry activity type information. This appears to be data owned by individual badges, but including a combined list in the program data would be useful.

[2013-06-02 17:30] brianloveswords commented on #168
What API endpoint should this eventually work its way into?

[2013-06-02 17:32] andrewhayward commented on #168
@brianloveswords - we need it in `/v2/programs` to filter the data. Could go in `/v2/program/<shortname>` too, potentially.

[2013-06-02 17:33] andrewhayward commented on #169
To go in `/v2/programs` for filtering purposes. Potentially in `/v2/program/<shortname>` too.

[2013-06-02 18:12] #165 closed, assigned to brianloveswords

[2013-06-02 18:12] brianloveswords commented on #165
Closed by #170

[2013-06-02 18:25] cmcavoy opened #171 "Show rubric items in badge detail screen"
So we can confirm that the rubrics are getting pulled from criteria properly without going to the db.

[2013-06-02 18:30] brianloveswords opened #172 "Add an API endpoint for user → badge recommendations"
**Endpoint**: `/v2/user/recommendations`
**Options**:
- **email**: User email address. Used to filter out existing badges.
- **limit**: How many badges to return. Default to `10`, pass `0` for unlimited
- **ageRange** (?) : User's age range. See "Slightly Smarter Strategy" below.

**Easy, Dumb Strategy**: Get all categories of badges a user has and return badges with the same categories. Note, thi

[2013-06-02 19:29] cmcavoy opened #174 "When you issue a badge to an email address, check to see if you can auto-add it."
In the badge issuing page, (/issuers? I don't have the right kind of account and am in a hurry) when you issue a badge to a list of email addresses...if any of the email addresses already exist in the database, _automatically issue the badge to them_.

/cc @brianloveswords @erinknight

[2013-06-02 19:29] toolness commented on #167
Ah, I think that it wasn't up to date, so I'm closing this bug! Feel free to reopen though.

[2013-06-02 19:29] #167 closed, assigned to nobody

[2013-06-02 19:41] cmcavoy opened #175 "Add badge description to /v2/user response"

[2013-06-02 20:00] #171 closed, assigned to toolness

[2013-06-02 20:24] brianloveswords commented on #172
Proposed rules from @erinknight with my effort estimates inline:

Implicit: filter out the city level badges from the recommendation results.

#

Easy

#

Easy, so long as that information is passed in by CSOL when making an API request. @cmcavoy, **will it be passed in as one of the ranges we specify in openbadger or an exact age?** Exact age will be slightly harder, but not terrible.

#

**Probl

[2013-06-02 20:41] erinknight commented on #172
Thanks @brianloveswords - looks good. Comments on a few specific ones below:

The date ranges we had for the badges are <13, 13-18 and 19-24. When the kids sign up, we collect DOB. But the under 13, 13 and older distinction is fine I think.

I do mean online. Probably okay to just recommend online, but better if its online first and some offline.

So I didn't think the online activities were assoc

[2013-06-02 20:50] threeqube commented on #174
And have that badge display in the learner's /mybadges page.

[2013-06-02 20:52] ghost commented on #128
I talked with @stenington a bit about this, and there were a couple questions/notable thingies that came up.

First, we don't actually have a way to distinguish between learners and guardians on the openbadger side of things.  This means that when an issuer enters an email address into openbadger and clicks the button to send them a claim code, there would currently be no way to determine whether

[2013-06-02 20:54] stenington commented on #122
@cmcavoy What's supposed to happen with that evidence? Right now, open badger knows nothing about evidence, so this is a huge change potentially.

[2013-06-02 21:25] ghost commented on #128
OK, a little more discussion, and...

The "second issue" above can be avoided by making it so that the urls in the emails only work for either >13 learners or guardians.  If clicked by a >13 learner, it will issue the badge to them.  If clicked by a <13 learner, it will tell them to have their guardian log in in order to be granted the badge.  Finally, if clicked by a guardian, the guardian will b

[2013-06-02 21:29] toolness commented on #128
One way to get around this is for Openbadger to HMAC sign the claim code with, say, the `OPENBADGER_JWT_SECRET` that both it and CSOL-site know. Or alternatively, since both sites already use JWTs to communicate with each other, the claim code could just be included in a JWT.

[2013-06-03 09:34] toolness commented on #128
@christensenep, @stenington: I'm thinking it might actually be useful for us to simply extend the [ClaimCodeSchema](https://github.com/mozilla/openbadger/blob/32e700984f3221c6e952e4e96f67c47c8aafe731/models/badge.js#L25) in openbadger to include a `toBeClaimedBy` field, which is the email address of the user that the claim is predestined for.

We could then add, say, a `PREDESTINED_CLAIM_CODE_WEBH

[2013-06-03 09:44] toolness commented on #122
As I mention in my [comment](https://github.com/mozilla/openbadger/issues/128#issuecomment-18830634) in #128, if we run with the notion of "predestined claim codes" and modify the `ClaimCodeSchema` in openbadger to include, say, an `evidenceUrls` array, then openbadger could simply "hold onto" the evidence until CSOL-site retrieved it whenever the badge's claimant came by to accept it. Because act

[2013-06-03 13:26] cmcavoy commented on #122
For MVP, let's allow the issuer to add a url (or url's) that we store. Have the API return an evidence array so we can use the videos / pictures in CSOL-site. For now, on CSOL we'll just provide links to the evidence, but in the future we can use @humph 's hubble project to actually pull the asset and display it.

[2013-06-03 13:40] carlacasilli commented on #172
Hey, the track concept is great. If we can keep track of what someone has earned the most of and continue to suggest badges that align with those, that's optimal.

What I previously mentioned in another ticket was the following equation.

Optimal:
You've earned two skill badges, one in Science, Technology, Engineering, Math, and one in Science, Technology. Show 1 Science Badge, 1 Technology Badge.

[2013-06-03 14:21] stenington commented on #128
The `toBeClaimedBy` can't actually be the claimer's email address, because of the <13 scenario in which a parent's email address gets inputted to Open Badger, but the badge should ultimately go to their child's account. But, if the parent is logged in to CSOL, we could send their email address across in the JWT auth token, and the child's fake email in the actual "please claim this badge with this

[2013-06-03 16:23] mark-ellul opened #177 "POST to /v2/user/badge/[badge name] does not return a response"
When trying to award a badge manually the server does not send a response.

I am pretty sure the badge has been awarded,  because when I try the same request again I get a user `[email]` already has badge.

[2013-06-03 16:36] mark-ellul opened #178 "Login via Email on http://openbadger-csol.mofostaging.net/ via Persona throws Forbidden"
Hi,

I am trying to log into http://openbadger-csol.mofostaging.net/ via Email (Persona) and when it returns back to the site, I get a forbidden error

http://monosnap.com/image/Nap3UOBkwjAAMLRTyQeaxmRq7

Not sure if its supposed to work or not...

[2013-06-03 16:41] cmcavoy commented on #177
for context, @mark-ellul is working with iRemix / DYN. They're going to be issuing badges via openbadger as part of CSOL. /cc @brianloveswords @toolness

[2013-06-03 17:39] cmcavoy opened #180 "remove badge list from / when logged out"
The list is super long and slows the site down.

[2013-06-03 17:46] stenington opened #181 "/v2/badge/:shortname/recommendations error"
I'm getting this hitting `/v2/badge/:shortname/recommendations`:

[code]

[2013-06-03 18:40] toolness commented on #174
Can you explain the rationale behind this? Is permission from a parent only needed the first time a kid receives a badge or something?

[2013-06-03 18:42] threeqube commented on #174
This is for > 13 learners.

For < 13 learners, parents will still gate-keep and notifications will be sent out.

[2013-06-03 18:58] stenington commented on #174
So, are we 100% sure that no guardian account will ever have badges in our CSOL instance of Open Badger? Otherwise, if they did, all of their kids' badges would get auto-awarded to the guardian instead.

[2013-06-03 20:27] cmcavoy commented on #174
It's something the city has asked for. @stenington has a good point though, if a guardian collected badges (entirely possible) or even just had an account with a single badge, they'd get their kids badges.

I'm going to call this off for the time being unless we can think of another way to handle it. The intention is to allow issuers to push badges to a users account without the user having to tak

[2013-06-03 20:30] cmcavoy commented on #128
agreed with @stenington, plus we don't want to have to explain to the earner that they have to give us the email address that the badge is going to be tied to. We've seen that be an issue in the backpack, so get to bypass it by emailing them a claim code.

[2013-06-03 20:35] cmcavoy commented on #181
i think this happens when the badge doesn't have a steam category associated with it. @stenington was able to crash it with test-badge which didn't have a STEAM category. When the STEAM category was added, it stopped crashing.

So...yeah...probably related to incomplete data, but should be more _robust_. Increase the robustness by 15% please.

[2013-06-03 20:40] iamjessklein commented on #63
This should go in the after Wednesday release category.

[2013-06-03 20:49] cmcavoy commented on #63
Wait....what? Is this a thing for CSOL?

[2013-06-03 20:56] iamjessklein commented on #63
In my mind it's in the category of "wishlist for the far future" ... am I correct @threeqube

[2013-06-03 21:00] iamjessklein commented on #172
@chloeatplay is working on the UX for this concept here: https://github.com/mozilla/CSOL-site/issues/382

[2013-06-03 21:21] threeqube commented on #63
@iamjessklein correcto. This is for the FUTURE.

[2013-06-04 01:30] cmcavoy commented on #174
After some discussion with @erinknight we're going to restrict usage of the site to users born after 1980 and message "youth signup" somehow to imply that this is for you kids, not for you. Which means we can go ahead with the original implementation plan at the top of the ticket, and assume that if the email exists in the system already we auto-award to it.

We'll have an FAQ and a monitored supp

[2013-06-04 02:03] cmcavoy commented on #177
This one is also blocking @andrewhayward it now seems like when you make this call it crashes openbadger.

[2013-06-04 13:01] cmcavoy opened #184 "Add a "print claim codes" option for issuers"
Similar to your text download, but with a little bit of flair.

If you can build a view of the available claim codes that includes a picture of the badge and a description of what you need to do to claim the badge (/cc @iamjessklein ) so that someone at the library can print out 10 claim code sheets.

Something to note:
1. These should be new claim codes, and should be marked as "distributed". Dat

[2013-06-04 13:15] iamjessklein commented on #184
So I suspect that we are talking about printing out 10 claim codes on a standard 8.5 x 11 piece of paper?

[2013-06-04 13:30] cmcavoy commented on #184
Yeah, but it doesn't need to be printing science...just do your best. If things don't align perfectly...no worries. The librarians can use scissors like champions!

[2013-06-04 14:11] iamjessklein commented on #184
How about something like this:

![claimcodes](https://f.cloud.github.com/assets/535012/605902/9acf178e-cd20-11e2-9fef-2917d0b785b3.jpg)

[2013-06-04 17:11] threeqube commented on #128
@cmcavoy what does the email to the earner have to say?

[2013-06-04 17:56] emgollie commented on #128
Draft email copy per a chat with @christensenep. If this is correct I will draft the corresponding copy re: inputting email address et al.

PARENT/GUARDIAN EMAIL
Subject: [Earner name] can claim their Chicago Summer of Learning badge!

E-mail copy:
Congrats! The [Badge name] badge is ready for [Earner name] through the Chicago Summer of Learning.

Click here [Link to claim badge or create an accou

[2013-06-04 18:10] ghost commented on #128
A couple wrinkles, though someone who is more familiar with things may want to correct one or both of these:

1) In the case where a learner hasn't yet signed up on CSOL-site, we have no way of knowing whether or not they are <13 or whether the email address provided is a guardian email or learner email.  I'm not actually sure how we're supposed to handle this case.  Should there be a different em

[2013-06-04 19:04] toolness commented on #184
I think the best way to implement this kind of functionality is to add the notion of tagging (or even the singular tag/category) to the Claim schema. When a user creates a new batch of claim codes, they have the option to assign a tag/category name to all of them; perhaps it can be auto-created to use the current date if nothing is entered for this. This way, someone could e.g. call one batch of t

[2013-06-04 20:53] toolness commented on #128
Ok, I'm working on a pull request for this in #185. Instead of `toBeClaimedBy`, though, I'm calling the property `reservedFor`.

[2013-06-04 21:19] toolness commented on #174
I think this should be something that CSOL-site does when it's notified by openbadger that a reserved claim code for a user has been created (see #128). This helps keep all the COPPA logic out of openbadger and delegates it to CSOL-site, which knows more about the age levels of people, and thus knows for sure whether the badge can be auto awarded. One benefit of this solution, for instance, is tha

[2013-06-04 21:21] ghost commented on #174
Yeah, agree with @toolness.  I've got something supporting this in my WIP pull request here: https://github.com/mozilla/CSOL-site/pull/391

[2013-06-04 21:43] toolness commented on #128
Hmm, so I was thinking that the only times the webhook would be called would be when someone on openbadger "issues" a badge, and when a user auto-earns a STEAM badge. However, I don't think the latter case is a valid one, because once we use the webhook for the former case, **all badges are ultimately issued via a CSOL-site API call to Openbadger**. That means that CSOL-site will know about STEAM

[2013-06-04 21:50] toolness commented on #128
Uh ... wait. @brianloveswords, do API endpoints like POST `/v2/user/badge/<shortname>` actually tell the client what auto-awarded badges were issued, if any? If not, can they?

[2013-06-04 22:33] brianloveswords commented on #128
@toolness it does not, but I believe it can – `Badge#award` actually calls back with three params, `(err, badgeInstance, autoAwardInstances)`, the latter being an array of badges that got awarded based on category points. We could change the API to report those.

[2013-06-04 22:57] toolness commented on #177
As a side note, realizing that there are more consumers of this API endpoint than just CSOL-site makes me realize that our plans to [email learners they have a badge to claim](https://github.com/mozilla/openbadger/issues/128) might have just gotten a bit more complicated.

Will DYN be emailing/notifying the badge recipients itself, or does it expect openbadger to do that?  And will it ever be issu

[2013-06-05 00:46] cmcavoy commented on #174
Hey Guys, I'm not suggesting we check CSOL-site. I'm suggesting we check OpenBadger. We have a list in OpenBadger of all the issued badges...check against the list of all the emails that those badges have been awarded to.

If a user is < 13 on CSOL they have a fake email address in OpenBadger. So, unless the issuer knows the fake email address, they can't directly award a badge to < 13 year old. T

[2013-06-05 00:49] cmcavoy commented on #184
@toolness how long will this take to implement?

[2013-06-05 02:47] toolness commented on #174
Significant work has already been done, because we already need openbadger to delegate lots of coppa-specific logic to CSOL-site. So yes, it will be easier to implement the auto-add from CSOL-site's end.

[2013-06-05 04:41] paulsmith opened #186 "Badge shortname in recommendations"
For both `/v2/user/recommendations` and `/v2/badge/:shortname/recommendations`, the list of badges does not include the badge's shortname.

This makes it problematic to construct URLs and do other primary-key-related actions.

[2013-06-05 06:02] brianloveswords commented on #186
Fixed by 614ebdd

[2013-06-05 06:02] #186 closed, assigned to brianloveswords

[2013-06-05 08:38] mark-ellul commented on #177
@toolness hi, we do email our users when they have been awarded a badge. if the user is <13 and mozilla has provided the parent's email address we email the parents as well.

The only emails that we expect open badger / csol to send is described in this issue
https://github.com/mozilla/CSOL-site/issues/104

With respect to evidence showing up on the Mozilla CSOL-site, I am assuming no, but I will

[2013-06-05 10:51] iamjessklein commented on #184
@toolness in terms of the design, I assume this means that I need to add a tag field as well as a date field. Do you agree?

[2013-06-05 11:02] cmcavoy commented on #177
@mark-ellul @toolness in discussions with DYN (not sure what Akili's github name is) we agreed that all badges issued by iRemix for CSOL will go through OpenBadger, so any communication OpenBadger does for entry level CSOL badges, it should do for iRemix CSOL badges.

If we end up double communicating, that's preferable to complicating this issue. AFAIK, users won't be leveling up to iRemix for a

[2013-06-05 11:40] threeqube commented on #177
Akili is @rl

[2013-06-05 12:00] toolness commented on #128
Thanks loveswords.

A few comments ago I said:

So, the fact that DYN (and possibly other third-party orgs) will be using openbadger's API to issue their own badges (see #177 and mozilla/CSOL-site#104) upends this.

(╯°□°）╯︵ ┻━┻

If CSOL-site is the one sending out the emails, it will either _always_ need to be notified of every single badge issuance via webhook, or third-party sites issuing badge

[2013-06-05 16:31] brianloveswords opened #188 "Admin page is really slow with a lot of badges"
We should fix that.

[2013-06-05 17:49] toolness opened #190 "Call a webhook when reserveAndNotify() is called."
The webhook URL should be defined by the environment variable `OPENBADGER_NOTIFICATION_WEBHOOK` (though if anyone can think of a better name, we can change it).

For more context, see #185.

[2013-06-05 17:50] toolness opened #191 "Make the POST /v2/user/badge/<shortname> and POST /v2/claim API endpoints return information about any STEAM badges that were also awarded."
This will allow CSOL-site (or other trusted clients like DYN) to send email notifications itself whenever it issues badges, by simply looking at the return value of the API call.

We should also document the changes to the above API endpoints in docs/api.md. Also document that their callers are responsible for communicating the awarding of any badges made as a result (including STEAM badges) to th

[2013-06-05 20:24] threeqube opened #193 "Pagination: Prefer pagination at the bottom of the page"
After scrolling through all the issuers on page 1, I want to go to the next page, but have to scroll back up again to do so.

![pages](https://dsz91cxz97a03.cloudfront.net/Lbq31ppMfd-1200x1200.jpeg)

It'd be great to have either pagination on the bottom or both top and bottom.

[2013-06-05 21:28] rl commented on #177
Agree w @cmcavoy that for the time being I wouldn't worry too much about potential double notifications, bigger things to tackle at the moment.

In terms of whether or not we will be including evidence with issued badges, its a bit of a complicated question for us. Normally we'd of course want to do this across the board as we of course believe the evidence associated with the badge is really what

[2013-06-05 21:39] cmcavoy commented on #177
@rl we'd rather not take the evidence...so we all agree! Keep the evidence
private in iRemix....

On Wed, Jun 5, 2013 at 4:28 PM, rl notifications@github.com wrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-06 12:31] threeqube commented on #166
What's the final copy for this? @emgollie

[2013-06-06 12:52] toolness commented on #184
Hmm, I really only meant the concept to be useful for administration, where perhaps the header/footer of each printed page might contain the batch name, or perhaps each ticket might contain it in very small print somewhere obscure. I didn't intend for the batch name to actually be printed prominently on each individual ticket. Doing that would probably imply that users should be able to e.g. renam

[2013-06-06 13:28] emgollie commented on #166
Final copy:

Hi [earnername],

Congrats! You've earned the [Badge name] Badge for great work in [STEAM field].

You were awarded this badge because you earned it. It's the result of your hard work.

Now you can try more fun city-level challenges at iRemix here: [iRemix LINK]

Keep on earning and exploring!
From your friends at the Chicago Summer of Learning

Linked fields:
[earnername]
[Badge name

[2013-06-06 13:29] emgollie opened #197 "Implement email when user earns a STEAM badge"
Per https://github.com/mozilla/openbadger/issues/166#issuecomment-19041822. cc @threeqube

Hi [earnername],

Congrats! You've earned the [Badge name] Badge for great work in [STEAM field].

You were awarded this badge because you earned it. It's the result of your hard work.

Now you can try more fun city-level challenges at iRemix here: [iRemix LINK]

Keep on earning and exploring!
From your frie

[2013-06-06 13:57] iamjessklein commented on #197
:+1:

[2013-06-06 13:58] iamjessklein commented on #166
:+1:

[2013-06-06 13:59] iamjessklein commented on #184
@toolness I agree about the date field.

[2013-06-06 14:03] iamjessklein commented on #193
:+1:  agreed

[2013-06-06 14:07] cmcavoy commented on #184
Just make sure we know when the claim code was created. For reports and
such.

On Thu, Jun 6, 2013 at 8:59 AM, iamjessklein notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-06 14:44] ghost commented on #190
Working on this here: https://github.com/mozilla/openbadger/pull/195

[2013-06-06 14:52] brianloveswords commented on #177
So I think the problem with not getting a response was because the route was crashing the server for some reason – it would award the badge, but take down the node before responding. When you would try again, it would hit a different node, but the badge would be in the database already.

While I'm in here though, what are you expecting/what do you need from the response? Just the url to the badge

[2013-06-06 14:57] mark-ellul commented on #177
@brianloveswords  Is the assertion URL the link to that badge in the backpack? If so yes that would be cool, in a normal json with status "ok".

If its possible could you allow for an optional evidence URL to be passed in and saved to the Badge if its passed in?

[2013-06-06 15:07] brianloveswords commented on #177
@mark-ellul it's a URL pointing to the assertion hosted on OpenBadger. The badge will show up in the CSOL backpack, though.

I can modify the award route to take evidence.

[2013-06-06 15:08] mark-ellul commented on #177
Thanks, let me know what the updated route is, i am not sure if I have the ability to update the api documentation though.

[2013-06-06 15:19] toolness opened #198 "VersionError sometimes thrown when issuing lots of claim codes at once"
The "reserving badges for users works" test in `/tests/badge-route.test.js` intermittently fails because the following error is being raised by `issueMany()` in `/routes/badge.js`:

[code]

It looks like this is because `issueMany()` is using [async.map()](https://github.com/caolan/async#maparr-iterator-callback), which is adding claim codes to the badge's array in parallel. This is triggering a [

[2013-06-06 15:22] #198 closed, assigned to nobody

[2013-06-06 15:34] toolness commented on #184
Yep, we're recording that now... do we also want to record when it was claimed?

[2013-06-06 15:39] brianloveswords commented on #188
Fixed

[2013-06-06 15:39] #188 closed, assigned to brianloveswords

[2013-06-06 15:40] brianloveswords commented on #172
This is done

[2013-06-06 15:40] #172 closed, assigned to brianloveswords

[2013-06-06 15:40] brianloveswords commented on #193
IF YOU GIVE A MOUSE A COOKIE...

[2013-06-06 15:49] brianloveswords commented on #177
It'll be the same route, but once #199 lands, you'll be able to pass in an `evidence` parameter as well.

[2013-06-06 15:52] cmcavoy commented on #184
Yeah, we should record when the badge is claimed. If that's not the case,
please ticket it... ;)

On Thu, Jun 6, 2013 at 10:34 AM, Atul Varma notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-06 15:53] mark-ellul commented on #177
@brianloveswords  thanks, I just checked your commits in the pull request and saw that, I love Open Source!

Is there a way for me to know when #199 lands?

[2013-06-06 15:56] cmcavoy commented on #177
i'm merging #199 now and will launch to staging asap....probably by 11:30 CT

[2013-06-06 15:57] mark-ellul commented on #177
@cmcavoy Awesome, thanks for the quick turnaround guys!

[2013-06-06 15:59] brianloveswords commented on #177
No problem @mark-ellul, let us know if you run into any other issues!

[2013-06-06 15:59] #177 closed, assigned to brianloveswords

[2013-06-06 16:00] brianloveswords commented on #181
YOU GOT IT, RATCHETING UP THE ROBUSTNESS.

[2013-06-06 16:42] #181 closed, assigned to brianloveswords

[2013-06-06 17:23] brianloveswords commented on #197
@toolness, I think this is going in CSOL isn't it?

[2013-06-06 18:48] brianloveswords commented on #178
@mark-ellul I think this is expected behavior, though the messaging could be clearer. In order to log in to the admin section, your email needs to be on the admin list.

[2013-06-06 18:49] threeqube opened #204 "Accept more media types for image upload other than .png"
Currently only .png images are accepted on Open Badger.

We should expand to other media type options like .jpg etc.

[2013-06-06 18:53] #178 closed, assigned to brianloveswords

[2013-06-06 18:55] brianloveswords commented on #204
Acceptable for issuer and program images, but badge images must be PNG.

[2013-06-06 19:04] #193 closed, assigned to nobody

[2013-06-06 19:09] brianloveswords commented on #161
@stenington It does not – https://github.com/mozilla/openbadges/wiki/Assertions#issuerorganization, URL should point to the URL of the issuing organization. There used to be a concept of `origin`, which would have been required to be the openbadger url, but that was scrapped for 1.0.

[2013-06-06 19:09] #161 closed, assigned to toolness

[2013-06-06 19:38] brianloveswords opened #207 "Programs need to be filterable"
This is blocking mozilla/csol-site#505

Expected filters are:
- Category (STEAM)
- Organization (Issuer)
- Age (0-13, 13-18, 19-24)
- Activity (online or offline)

[2013-06-06 19:39] cmcavoy commented on #207
earns itself a big fat 1.0. Thanks @brianloveswords

[2013-06-06 19:55] cmcavoy commented on #197
yeah, not sure if this is in CSOL or in openbadger given the new emailing framework that @toolenss and @christensenep built. Assigning to @christensenep

[2013-06-06 19:57] toolness commented on #184
Ok, this doesn't look nearly as awesome as Jess' mockups yet, but it's got all the right info on it. Can Dr. Ballard give it some CSS love?

![screen shot 2013-06-06 at 3 50 15 pm](https://f.cloud.github.com/assets/124687/620366/7a8d9586-cee2-11e2-828d-280d256c1b0f.png)

I tried PDF print previews on Firefox, Chrome, and Safari, and they all appear to paginate it fine, without cutting things off o

[2013-06-06 20:02] toolness opened #208 "Record timestamp when claim codes are claimed"
As per the discussion in #184.

[2013-06-06 20:27] threeqube commented on #184
we're trying to procure chi-sol.org or csol.me fyi.

[2013-06-06 21:07] threeqube commented on #204
That works.

Currently issuer and program images only accept .png.

[2013-06-06 21:36] #207 closed, assigned to brianloveswords

[2013-06-06 21:37] #184 closed, assigned to toolness

[2013-06-06 22:23] brianloveswords opened #210 "Add an env variable for a limited JWT"
We need to have the concept of a limited JWT token which will allow access to certain API endpoints but not others.

I propose we do this:
- Add an env variable for a limited JWT secret
- Add a flag in the auth middleware, maybe something like `req.limitedAccess = true` when an authentication is made with a limited JWT.

@toolness can you handle this if you get a chance?

[2013-06-06 22:47] cmcavoy opened #211 "Criteria returned from API has (required) at the end of it."
We also need to use the criteria in the badge-detail page on CSOL, is there a way to get it without the Rubric markup? Check http://csol-aws.mofostaging.net/earn/foundations-of-ecology as an example of how we're using the criteria from the API.

[2013-06-07 00:22] threeqube commented on #181
I commented on the PR https://github.com/mozilla/openbadger/issues/200 but fyi, all badges are associated with at least one STEA or M category.

[2013-06-07 06:43] emgollie commented on #134
@cmcavoy, do we want to assign this or are you on the case? Gracias.

[2013-06-07 10:12] threeqube commented on #134
@cmcavoy are we doing the "new" label? If we're not, then this isn't in scope and we can close it I think.

[2013-06-07 10:24] threeqube commented on #131
This has been implemented already. Closing copy and implement copy tickets.

[2013-06-07 10:24] #131 closed, assigned to emgollie

[2013-06-07 10:24] threeqube commented on #132
Implementation complete.

[2013-06-07 10:24] #132 closed, assigned to nobody

[2013-06-07 11:54] toolness commented on #211
there's no way that the criterias in the badges can be modified to be in the format we expected the rubrics to be in, e.g. where required items have no markup and optional ones say "(optional)"?

Easiest way to do this might be to hack the rubric-parser to remove "(required)" from any items, and add "(optional)" to ones that don't have "(required)" in them, because our current way of doing things

[2013-06-07 11:56] toolness commented on #174
I believe this has been done by Lord Christensen's CSOL-site PR, specifically the code [right here](https://github.com/mozilla/CSOL-site/pull/391/files#L1R22). Closing this ticket!

[2013-06-07 12:03] cmcavoy commented on #211
@toolness in the [badge record on openbadger](http://openbadger-csol.mofostaging.net/admin/badge/foundations-of-ecology) there's still 'criteria' that hasn't been parsed into the rubric. Are both versions of the criteria (parsed and unparsed) available in the API? I think that's all I'm looking for, the original criteria for the page, the rubric for aestimia.

[2013-06-07 12:05] cmcavoy commented on #134
AFAIK we're not doing the new label.

On Fri, Jun 7, 2013 at 5:12 AM, threeqube notifications@github.com wrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-07 12:08] #175 closed, assigned to nobody

[2013-06-07 12:11] toolness commented on #210
This ticket disgusts me.

[2013-06-07 12:25] #210 closed, assigned to nobody

[2013-06-07 12:34] toolness commented on #190
Done as of #195. Woot!

[2013-06-07 12:34] #190 closed, assigned to nobody

[2013-06-07 12:40] toolness opened #212 "Fallback needed for when OPENBADGER_NOTIFICATION_WEBHOOK fails"
In the cases where our webhook implemented in #195 fails, there should be some way for us to retry the webhook and/or for the webhook's target party to poll for the same information. There may already be a way for them to do the latter, but if there is, we should make it explicitly known, and implement it over on CSOL-site.

I was thinking that for retry, we could potentially bust a mini job queue

[2013-06-07 12:40] cmcavoy commented on #210
@toolness wish your commit was a PR. Not sure if this is the right approach. Also, this isn't a 1.0 thing if we need more time. I want to do this right, as it's a crazy big change. We need some sort of API protection by late next week. Specifically, we want to limit iRemix to only issue the badges they own, and only see the badges of certain users. It's a tricky request. I can explain more. /cc @r

[2013-06-07 16:55] toolness commented on #211
yup both are available bro.

[2013-06-07 16:56] #211 closed, assigned to toolness

[2013-06-07 16:57] cmcavoy commented on #211
this is on the csol side...closing

[2013-06-07 17:10] ghost commented on #128
Resolved in https://github.com/mozilla/openbadger/pull/195

[2013-06-07 17:13] #128 closed, assigned to nobody

[2013-06-08 01:52] threeqube commented on #134
So we won't have this "Hippity hop! You just earned this badge!" text. Closing.

[2013-06-08 01:52] #134 closed, assigned to cmcavoy

[2013-06-08 18:20] threeqube opened #214 "Need to link to Org wiki from landing page"
We need to provide first time organization instructors with instructions on how to get started. Those instructions are provided in this wiki: https://wiki.mozilla.org/Badges/chicago/org

We need to link to this wiki from badge.chicagosummeroflearning.org.

cc/ @megcolek

[2013-06-08 18:39] megcolek commented on #214
Hey! Can you remind me again what I'm suppose to do with wiki page? I sent you the deck draft but did you want me to build that out on the wiki page?

Just let me know and I can take care of it.

Thanks,
Meg

Sent from my iPhone

On Jun 8, 2013, at 2:20 PM, threeqube notifications@github.com wrote:

[2013-06-08 19:04] threeqube commented on #214
Yup, I'll shoot you an email. :)

[2013-06-08 19:34] marihuertas opened #215 "Can’t filter by ‘Type’ on /earn page."
When any of the 3 types are not selected, the filter shows results. When you choose either participation, skill, or activity, it always says ‘no badges found’.

Is this a data issue or bug?

cc @threeqube @carlacasilli

[2013-06-08 19:39] marihuertas commented on #215
Accidentally posted this to OBR. Throwing it in CSOL.

[2013-06-08 19:39] #215 closed, assigned to nobody

[2013-06-09 22:52] cmcavoy opened #216 "Issuers don't see all their badges"
In prod, I added myself as an issuer to "Self-paced Activities Curated by DYN" and "Chicago Botanic Garden". I only see badges from one program in "Self-paced Activities Curated by DYN" not all the programs.

/cc @threeqube

[2013-06-10 14:19] cmcavoy opened #217 "Figure out how to get logs in a format for Graylog (loggins)"
[Winston graylog transport](https://github.com/flatiron/winston#graylog2-transport)

[2013-06-11 15:30] brianloveswords commented on #216
I'M ON THE CASE

[2013-06-11 15:51] toolness commented on #197
Yeah, it'll go into CSOL, though #191 is required to make that happen.

[2013-06-11 16:14] toolness commented on #127
Is this just a permissions thing?  e.g. allowing anyone who is classified as an org member to be able to access and use the claim code management page?

[2013-06-11 16:17] toolness commented on #217
This is analogous to mozilla/CSOL-site#569, I think... Whatever the solution to that ticket ends up being should also apply to this one. Please correct me if I'm wrong though.

[2013-06-11 18:26] cmcavoy opened #219 "Allow claim codes to be created / printed with an issuer account"
Added to the 2.1 milestone, not sure if that's realistic or not.

[2013-06-11 18:37] brianloveswords commented on #217
Sounds right to me.

[2013-06-11 19:04] cmcavoy commented on #217
Correct...and we should also apply it to Aestimia. 15% more robust.

On Tue, Jun 11, 2013 at 1:37 PM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-11 19:42] marihuertas opened #220 "Need to update footer on "Mentors" + "Organizations" pages."
It should read:

About | Terms | Privacy | FAQ | Mentors | Organizations

[2013-06-11 19:51] brianloveswords commented on #220
This is in openbadger? Where does this page live on the live site?

[2013-06-11 20:55] cmcavoy commented on #122
Adding this to 2.1.

[2013-06-12 01:13] threeqube commented on #220
This ticket needs to be broken up.

Mentor page is Aestimia which is http://assess.chicagosummeroflearning.org/
Org page is Open Badger which is http://badge.chicagosummeroflearning.org/

[2013-06-12 01:29] threeqube commented on #127
Currently the way we have the system set up, the orgs send us a list of emails of all the instructors that should have admin privileges and we (I) input them through Open Badger. Those folks will have access to use the claim code management page. cc/ @cmcavoy

[2013-06-12 10:49] toolness commented on #127
Oh, so is this the same thing as #219 then?

[2013-06-12 10:54] toolness commented on #122
Hmm, I was told that the primary use case for this is mobile--e.g. at an event, a mentor can take a photo of a kid's work and immediately give them a badge for it, using the photo as evidence--in which case inputting a URL would be completely useless. I don't think it'd be that much more effort to just add the ability to upload files... and since all major mobile browsers support uploading of phot

[2013-06-12 10:54] threeqube commented on #127
Oh yeah same issue indeed. I'll close this.

[2013-06-12 10:54] #127 closed, assigned to cmcavoy

[2013-06-12 11:37] iamjessklein commented on #122
@toolness that was my understanding as well re: requirements optimizing for mobile.

[2013-06-12 13:30] threeqube commented on #122
Mobile is a primary use case for uploading evidence. However if this is going to be a huge level of effort we can prioritize desktop if that's an easier implementation.

[2013-06-12 14:25] #219 closed, assigned to nobody

[2013-06-13 00:24] marihuertas opened #224 "Weird image blip appears on OpenBadger new badge page."
![weird image on badge issuing tool new badge page](https://f.cloud.github.com/assets/1434869/646210/950eef40-d3bf-11e2-9435-78b637de6942.png)

[2013-06-13 00:42] marihuertas opened #225 "Weird image blip appears on page when I try to edit an issuer."
![screen shot 2013-06-12 at 7 38 00 pm](https://f.cloud.github.com/assets/1434869/646241/1f9ddb2e-d3c2-11e2-8d50-8c42c03f8942.png)

[2013-06-13 00:47] marihuertas opened #226 "Weird image blip appears on page when I try to edit a program."
Also, the head size is inconsistent with the head on the page to edit the organization.

![screen shot 2013-06-12 at 7 46 25 pm](https://f.cloud.github.com/assets/1434869/646252/cd70bf32-d3c2-11e2-9844-4b80a8ada534.png)

[2013-06-13 00:54] #216 closed, assigned to brianloveswords

[2013-06-13 12:54] cmcavoy opened #227 "Issue badges by email fails"
1) configure an issuer account
2) log in as the issuer
3) issue a badge via email

You get a whitescreen and openbadger crashes.

For obvious reasons, this one is high priority.

[2013-06-13 13:23] toolness commented on #227
Ok, I think this is being caused because `NODE_ENV=production` on staging/prod and `lib/webhook.js` doesn't check at load time to see if `OPENBADGER_NOTIFICATION_WEBHOOK` is valid. Because of this, `request.post()` is called with a terrible URI and that crashes the process like so:

[code]

So, the solution here, I think, is to simply check `OPENBADGER_NOTIFICATION_WEBHOOK` at startup and ensure t

[2013-06-13 13:30] #227 closed, assigned to toolness

[2013-06-13 13:33] toolness commented on #227
Ok, I implemented the early warning system, but right now this just means that staging/prod will instantly crash since `OPENBADGER_NOTIFICATION_WEBHOOK` doesn't seem to be set on them. So please set it on them!

[2013-06-13 15:10] mark-ellul opened #228 "/v2/programs endpoint closing connection and not returning data (Production)"
Attempting to download the programs data from production on the below url, does not return data.

https://badge.chicagosummeroflearning.org/v2/programs

The message below is what I get in Google Chrome!
Error 324 (net::ERR_EMPTY_RESPONSE): The server closed the connection without sending any data.

[2013-06-13 15:18] cmcavoy commented on #174
Just tried this in production. I issued a badge to chris.mcavoy@gmail.com, who has already earned badges. The claim code was created and is reserved for chris.mcavoy@gmail.com, but chris.mcavoy@gmail.com never got a notification, and the badge isn't in his (my) backpack.

[2013-06-13 15:23] toolness commented on #174
If this is happening, it's not a bug in openbadger, it's a bug in mozilla/CSOL-site#391, because CSOL-site is responsible for auto-awarding badges if it deems them necessary. Which is odd, because [this code](https://github.com/mozilla/CSOL-site/pull/391/files#L1R21) should be claiming the badge, so at the very least it should appear in your backpack. Any ideas, @christensenep ?

[2013-06-13 15:26] brianloveswords commented on #217
Okay, here's the strategy:

## Step 1: Use `bunyan` for structured JSON logging

We inherited the choice to use `winston` from the fact that openbadges was originally cloned from the browserid codebase and that's what they were using. It's served us well across several projects so far, but I think it's time to part ways. The transport system is confusing and we _only_ want to output to `stdout`/`s

[2013-06-13 15:43] toolness commented on #174
So it looks like the code currently doesn't send any email because Erik was never given any content for such an email. However, the code _is_ auto-awarding the badge, and that works locally, but it's odd that it's not working for your email. Is chris.mcavoy@gmail.com marked as an underage learner?

[2013-06-13 15:47] ghost commented on #174
Aye, I was under the impression that no email was sent in the case of an auto-awarded badge (which occurs when a >13 learner is issued a badge and already has an account).  It's certainly very easy to make it send an email, though as @toolness mentions, I don't think I have any copy for an email in that case.

Still looking into the actual bug of not auto-awarded the badge, though.

[2013-06-13 15:50] cmcavoy commented on #174
No I'm registered as over 13.
On Jun 13, 2013 10:43 AM, "Atul Varma" notifications@github.com wrote:

[2013-06-13 15:51] cmcavoy commented on #174
No email is necessary...as long as the badge is issued.
On Jun 13, 2013 10:50 AM, "Chris McAvoy" chris.mcavoy@gmail.com wrote:

[2013-06-13 17:19] ghost commented on #174
So I was looking through mandrill's logs, and I noticed that earlier today there was an email sent to chrismcavoy@gmail.com (as opposed to chris.mcavoy@gmail.com) using the "unknown user" template.  This was around the time that you reported this issue, so I wanted to make sure that they aren't related.  Was this a separate issuance, or is it possible there was just a missing period in the email a

[2013-06-13 17:57] cmcavoy commented on #174
You can drop periods into gmail addresses, its a good way to
test...infinite emails! I got the periodless email, but not the period
email. I registered with the period email.
On Jun 13, 2013 12:19 PM, "Erik Christensen" notifications@github.com
wrote:

[2013-06-13 18:10] #191 closed, assigned to nobody

[2013-06-13 18:11] ghost commented on #174
Ah, ok, just checking.  That would have been too easy, clearly. :)

[2013-06-13 20:37] ghost commented on #174
Alright, thanks to @toolness, the mystery is solved.  It was not working this morning because CSOL-site was trying to claim the badge via <b>http</b>://badge.chicagosummeroflearning.org/v2/claim.  By the time you tried again, the environment had changed such that it was now (correctly) pointing to <b>https</b>://badge.chicagosummeroflearning.org/v2/claim.  So it should be working now!

[2013-06-14 02:18] marihuertas opened #230 "Clicking on CSOL logo -and- Home page in the nav bar doesn't do anything (with multiple attempts)."
I was on this page:

https://badge.chicagosummeroflearning.org/badge/criteria/spanish-language-exploration

I clicked both on the CSOL logo and the "Home" link in the nav and all it did was refresh the badge page. It didn't take me to the home page any of those attempts.

[2013-06-14 02:19] marihuertas commented on #230
ps. This happened around 9:15 pm Central time in the latest version of Chrome.

[2013-06-14 18:14] cmcavoy opened #231 "BadgeClass linked from asserition should use image URL instead of dataurl for image."

[2013-06-14 18:48] threeqube opened #232 "Enable bulk deleting of claim codes"
Currently, org can only delete claim codes one by one. If you need to delete a bunch of claim codes, it's pretty pretty painful.

[2013-06-14 20:19] #231 closed, assigned to brianloveswords

[2013-06-14 20:27] brianloveswords commented on #232
Mixed feelings. Can I get a use case for deleting a ton of claim codes? Claim codes should not be deleted willy nilly, especially once they've been distributed.

[2013-06-14 21:41] cmcavoy opened #234 "Error pushing badge to backpack"
"We have encountered the following problem: Remote assertion must match local assertion"

/cc @stenington

You can test it out in CSOL staging. I'm assuming it's an OpenBadger issue.

[2013-06-14 21:43] cmcavoy commented on #234
[This is the badge I was testing](https://openbadger-csol.mofostaging.net/badge/assertion/85f9ebaef2835522b284c5645b3286882922551a) it fails validation as well.

[2013-06-15 16:05] cmcavoy opened #235 "Add instructions to issuing interface."
Need copy for the following answers to questions that came up yesterday in training, need to be concise enough to fit in the interface nicely:
1. What if a parent has multiple kids they're supplying their email address for? Put the parents email address in the interface once for each kid, they'll get multiple emails, each with a unique claim link.
2. General instructions on how it works
3. How to

[2013-06-15 16:12] cmcavoy opened #236 "Add search to API"
It hasn't been ticketed out in CSOL yet, but I'm positive a request for a search box in the /earn and /explore (badges and programs) is coming. We'll need an API endpoint.

[2013-06-15 16:58] cmcavoy opened #237 "Delete buttons"
We need them...for anything you can create, we also need to delete it. Only admins should have access. Badges / Programs / Issuers.

When you delete something higher in the hierarchy, it should trickle down (ie, delete an issuer, all the programs and badges for that issuer are deleted). Given the potential for screwups we need a confirmation (saying exactly what you're going to delete and the casc

[2013-06-15 18:45] threeqube commented on #235
I can help with this @emgollie

[2013-06-16 02:00] threeqube commented on #232
I hear you. My use case may be a unique one.

I simply went in and created a bunch of claim codes for an org, to test claim code generation. I guess I should've done this in staging. Will close.

[2013-06-16 02:00] #232 closed, assigned to nobody

[2013-06-16 05:59] emgollie commented on #235
Thoughts, @threeqube @cmcavoy?

QUESTION: What if I am responsible for more than one child?
If you're the parent or guardian to more than one child who is participating in the Chicago Summer of Learning, each of them should list your email address through their account. You will receive emails around badge review. These emails will include unique claim links for each child, so there's no need to w

[2013-06-16 12:52] threeqube commented on #235
I think we need @cmcavoy's help on this.

Also @cmcavoy, where should these instructional questions go?

[2013-06-17 17:59] #217 closed, assigned to nobody

[2013-06-17 19:49] #122 closed, assigned to toolness

[2013-06-17 20:02] brianloveswords commented on #236
To confirm, we want to add a `search` param to `/v2/programs` and `/v2/badges`, correct? Should the API endpoints also deal with limiting and pagination?

[2013-06-17 20:12] cmcavoy commented on #236
Yes - provide all the same features the filters have.

On Mon, Jun 17, 2013 at 3:02 PM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-06-18 18:36] #236 closed, assigned to brianloveswords

[2013-06-18 18:49] brianloveswords opened #241 "Fix fatal error: unpopulated issuers crash /v2/programs"
Here's the traceback:

[code]

[2013-06-18 19:28] brianloveswords opened #243 "Issuer images inaccessible"
When a user tries to get to an issuer image, anything at `/issuer/image/<issuer id>`, they are asked to log in. This is because there is an `app.all` piece of auth middleware that affects everything under `/issuer*` and requires admin level access.

[2013-06-18 19:43] #241 closed, assigned to brianloveswords

[2013-06-18 19:44] #243 closed, assigned to brianloveswords

[2013-06-18 20:18] threeqube opened #245 ""List in APIs" checkbox is not working"
CSOL has DYN badges listed in /earn but we've specifically unmarked the "List in APIs" checkbox for these so that these badges are not listed in API calls. However, they are being called and are showing up on the CSOL site as part of badges that are earnable when they are not.

Need to be fixed as part of P1 I believe.

[2013-06-18 21:44] emgollie opened #246 "Sign-in bug + issuer copy fix"
Two things that need fixes per UX review (cc @threeqube @cmcavoy @iamjessklein):
- [ ] When trying to log in with personal address after adding address to access list, bump into bug and only see "You must be an admin to access this page"
- [ ] Need to update copy to insert space between "new" and "line": https://openbadger-csol.mofostaging.net/admin/issuer: should read "Separate each email address

[2013-06-18 21:58] emgollie opened #247 "Implement copy updates to New Badge page"
Copy updates to https://openbadger-csol.mofostaging.net/admin/badge (cc @threeqube @iamjessklein):

Program
The name of the program that this badge is associated with.

Name
Start typing a descriptive name for your badge that is also fun.

Description
A description of your badge will appear in each assertion created from this badge.

Criteria
The criteria text for the badge explains what someone h

[2013-06-18 22:02] threeqube commented on #247
Point values are as follows:

Participation = 0
Skill = 1
Achievement = 2
Getting 3 points in same STEAM category unlocks city level badge.

I find this field to be redundant. There's another field above where you specify whether the badge is P, S, or A. Feels like the points should be automatically attributed based on the value inputted there.

[2013-06-18 22:06] chloeatplay commented on #247
Hey @ all - strongly strongy urge NOT to mention any points in the official copy. We decided this way back and IMHO it is a terrible gamification precedent, plus mentioning that you gain _0, or 1 points_ really doesn't work from a point-design view. @carlacasilli  can say more about why this should not be in the copy. That is why we made the illustrations ;)

[2013-06-19 02:17] threeqube commented on #247
@chloeatplay completely agree. This is the open badger admin panel though and NOT learner/user facing.

[2013-06-19 12:34] chloeatplay commented on #247
:confounded: sorry then! I blame reading this after a full day at a conference. :collision:

[2013-06-19 12:50] threeqube commented on #247
All good. :smiley:

[2013-06-19 15:06] #237 closed, assigned to toolness

[2013-06-19 17:05] carlacasilli commented on #247
I'm glad to know that @chloeatplay, you're fighting the anti-point fight (that I'm fighting on another front). :+1:  :zap:  But I think we're all good. :smile:

[2013-06-19 19:22] toolness opened #248 "Undoable deletion code randomly explodes"
Not sure why this is happening, but cmcavoy reported it on IRC today when attempting to delete something, and [travis exploded too](https://travis-ci.org/mozilla/openbadger/builds/8247306). I also experienced some weird random failures when I was writing the code for #239, but thought I had fixed them.

[2013-06-19 19:40] brianloveswords commented on #245
Hmm, I'm having a hard time reproducing this. I added a test to ensure `doNotList` badges did not appear in the api (780a5c7797f5fdf24789170e0572bfddb9d1d8), and I also tried the following manual test:
1. Hit /v2/programs, note the first badge (`spanish-language-exploration`)
2. Go to /admin/badge/spanish-language-exploration, uncheck "List In APIs" and save.
3. Refresh /v2/programs, observe that

[2013-06-19 19:47] #248 closed, assigned to toolness

[2013-06-19 19:49] cmcavoy commented on #245
From production, `https://badge.chicagosummeroflearning.org/v2/program/the-creativity-labs--indiana-university-digital-youth-network-dyn` [here](https://badge.chicagosummeroflearning.org/v2/program/the-creativity-labs--indiana-university-digital-youth-network-dyn)

Lists `multimedia-experience-design` but that one is marked as "do not show in api":

`https://badge.chicagosummeroflearning.org/admin

[2013-06-19 19:51] brianloveswords commented on #245
Ah ha, that's a different endpoint. I'll check that out.

[2013-06-19 21:13] ghost commented on #197
So in the case where a learner is awarded a STEAM badge, but already has earned one previously and signed up at iremix, we want to send an email to them that doesn't include an iremix invitation link.  I have a placeholder email template that fills this role, but it's just the same copy as the email that includes the link with that line removed.  Please let me know if you want something other than

[2013-06-19 21:22] emgollie commented on #197
@christensenep I think that's fine. In that case, I would just hyperlink "Chicago Summer of Learning" in the end signoff so they can easily come back to the site. Thanks!

[2013-06-20 15:07] threeqube opened #250 "On program page, add ability to select organization under which it falls similar to how a badge edit page allows select program"
Currently, the program detail page does not allow movement among organizations. If we can have a dropdown similar to the bade detail page that allows for a dropdown of program selection, that would be radical.

This is a problem particularly with CSOL in that orgs are now coming back to us requesting that they consolidate programs so I need to move programs around or delete them.

[2013-06-20 15:09] threeqube opened #251 "Org and program listing should be alphabetized"
Current ordering of orgs and programs either down below on Open Badger home page or even on the dropdown menu don't make sense. Should be alphabetized at least. Hard to find orgs and programs as list grows.

[2013-06-21 14:36] erinknight opened #252 "Recommend only online badges"
For CSOL - the recommendation system should only suggest badges that are categorized as 'online'.

[2013-06-21 15:38] brianloveswords commented on #252
That is way less complicated than it sounded on the call this morning, but then again I was also still 95% asleep.

[2013-06-21 15:53] brianloveswords commented on #252
@erinknight ALSO, when you say "only" do mean even if there are no online skill badges to recommend (as in, if they've completed all of the STEAM badges, we would not recommend them anything?)

[2013-06-21 17:08] threeqube commented on #252
We are dealing with this case with copy treatment as per https://github.com/mozilla/openbadger/pull/253#issuecomment-19827559

[2013-06-21 17:46] #245 closed, assigned to cmcavoy

[2013-06-21 20:24] #252 closed, assigned to brianloveswords

[2013-06-23 08:51] tarekziade opened #254 "merge accounts"
is there a way to merge two accounts ? I have tarek & tarek_ziade... because I received badges on different e-mails

[2013-06-23 16:15] threeqube commented on #254
Hey @tarekziade are you an instructor? or a student? Assuming this is part of Chicago Summer of Learning?

[2013-06-24 20:51] brianloveswords commented on #254
@tarekziade I think this is a backpack issue (rather than openbadger, which is for issuing). That repo is mozilla/openbadges, and we do have a feature bug open for managing badges that have been awarded to different email addresses associated with the same person.

[2013-06-24 20:52] brianloveswords commented on #254
But let me know if I'm misinterpreting the issue!

[2013-06-24 21:12] cmcavoy opened #255 "Fix logger error"

[2013-06-25 02:06] threeqube commented on #254
If this is not related to Chicago Summer of Learning, this issue has been identified here: https://github.com/mozilla/openbadges/issues/42

[2013-06-25 15:06] cmcavoy opened #256 "Add badge description to fields searched in search api"

[2013-06-25 16:02] cmcavoy opened #257 "Show record of all issued badges"
Similar to how we see a table of claim code issued badges...include badges issued via the API.

[2013-06-27 12:09] cmcavoy opened #258 "Run STEAM calculation offline"
We need the ability to retroactively award STEAM badges, if the calculation changes.

[2013-06-27 14:47] threeqube opened #259 "When adding an issuer / org that's already in the system, provide user with appropriate notification"
Currently, when inputting an new issuer/org that already exists in the system, you get the following error:

![screen shot 2013-06-27 at 10 44 33 am](https://f.cloud.github.com/assets/1424627/716557/45c1ca96-df38-11e2-83b0-acfd4e11acc0.png)

Instead system should inform user that they're trying to input an issuer that's already in the database.

[2013-06-28 18:04] cmcavoy opened #261 "Need to increase the capacity of the issuer tool"
If you put in more than 20 emails, the system dies.

We have requests for batches of upwards of 600 emails at a time. We need to build a queue, or some way of handling these offline.

This is a high priority request, but can wait until Monday when you guys are back.

/cc @toolness

[2013-06-28 19:00] cmcavoy opened #262 "Multi-use claim codes crash app"
am investigating.

[2013-06-28 19:04] cmcavoy commented on #262
Crash on openbadger is as such,

[code]

[2013-06-28 21:09] ghost commented on #262
This appears to be happening with claim codes that include uppercase letters.  Should be a pretty easy fix, but need to know whether or not we are supposed to be case-sensitive.  (I suspect the answer is "no")

[2013-06-28 21:18] cmcavoy commented on #262
For now, we have a workaround. Nice catch. We should fix it, but it can
wait until Monday.

On Fri, Jun 28, 2013 at 4:09 PM, Erik Christensen
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-07-01 21:21] brianloveswords commented on #261
## Cron + simple script approach

Easiest thing to do from a programming perspective is to write a script which looks at a queue (let's just say a `work` collection in the mongo database), and processes all of them one-by-one to completion (atomic `findAndModify` with a limit of 1 pluck a task and mark as `started`, process task, `findAndModify` to mark as `complete`). We could set up a cron job t

[2013-07-01 21:25] cmcavoy commented on #261
Mark the record as "in process".

I think if we went this route, I'd rather just see us implement an actual queue service, or start using Amazon SQS.

[2013-07-01 21:28] brianloveswords commented on #261
Yeah, that's why I'm saying "it should be fine" since `findAndModify` is supposed to be atomic. But we'd still have to test it.

That's more than a day, though, to implement and test since that involves bringing in more moving parts. It depends on how fast you want this done.

[2013-07-01 21:35] cmcavoy commented on #261
So - the difference between the two approaches is really - cron, or fork a worker.

I'm fine taking the extra time to fork the worker, but we should ping @jdotpz and make sure he's ok with monitoring the process, or if he'd rather just do cron.

[2013-07-01 22:15] jdotpz commented on #261
Cron is going to be far faster and easier to implement in the here and true.

We can setup whichever app on a non-web serving node, and have it run cron jobs with the appropriate env (sourced from /var/www/appname/.env) as its operating environment.

One concern here would be the potential for a node to die, and the queue to be affected.  What happens if a node says it is handling a message, but d

[2013-07-03 14:39] jdotpz opened #264 "Server killer 2"
[code]

[2013-07-03 18:40] marihuertas commented on #250
cc @cmcavoy – this relates to ticket https://chicagosummeroflearning.zendesk.com/agent/#/tickets/6 in Zendesk, and CPL asked about this specifically in a meeting last week. What is our course forward?

[2013-07-03 18:43] brianloveswords commented on #264
This is another one of those instances where `logger` is being used wrong, in `lib/webhooks.js`

[2013-07-03 18:49] cmcavoy commented on #250
We can fix these by deleting and moving. It's just inconvenient. Brian has been on other things (also CPL related, boosting the email capacity). I think we move forward with the less convenient fix for now.

[2013-07-03 18:51] brianloveswords commented on #250
@cmcavoy doing that might break things – badges are associated with programs by program id, so that would orphan all badges related to that program if you deleted it.

[2013-07-03 19:00] brianloveswords commented on #250
I SHOULD HAVE ALSO MENTIONED that I am going to work on this today. I should have it done by tomorrow if everything goes smoothly.

[2013-07-03 19:13] threeqube commented on #250
:+1:

[2013-07-03 19:39] #261 closed, assigned to brianloveswords

[2013-07-03 20:30] marihuertas commented on #250
Perrrrrrrfect. Thanks guys.

[2013-07-03 20:55] brianloveswords commented on #250
NOTICE: things are not going smoothly, we are held up deploying the previous issue I was working.

[2013-07-04 19:41] marihuertas commented on #250
Thanks for the heads-up, @brianloveswords – give me a shout when you hammer out the kinks.

[2013-07-08 14:43] marihuertas commented on #250
Hey @brianloveswords + @cmcavoy – giving this a morning bump to see how things are shaking out. Can we touch base on this today / tomorrow (Tuesday, 7/9)? This work will help resolve a few queries in Zendesk, so I want to get a feel for how it's progressing this week.

[2013-07-08 18:38] brianloveswords commented on #250
Branch `250-change-program-organization` has been made and I am working on it as we <del>speak</del> <ins>type at each other through the internet</ins>.

[2013-07-08 19:07] cmcavoy opened #266 "Show shortname in badge detail"

[2013-07-08 19:14] cmcavoy commented on #266
already exists.

Changing this to "allow issuers to see the badge detail"

[2013-07-08 21:07] #264 closed, assigned to cmcavoy

[2013-07-08 21:08] #266 closed, assigned to cmcavoy

[2013-07-08 21:33] marihuertas commented on #250
@brianloveswords :: I love when people are working on things even as they are typing at each other through the internet. :) Do you think end of week is good for delivery date to stakeholders?

[2013-07-08 23:05] brianloveswords commented on #250
@marihuertas definitely (I will likely have it done in code by tomorrow, but staging and deploying to prod will take a little longer of course)

[2013-07-09 02:27] marihuertas commented on #250
Badass! Thanks @brianloveswords!

[2013-07-10 15:23] #250 closed, assigned to brianloveswords

[2013-07-10 19:25] ghost commented on #262
Well, I sort of forgot about this one, and we just got another crash in the same spot.  Which way should we go?  Case sensitive claim codes or no?

[2013-07-10 19:31] cmcavoy commented on #262
They should be case sensitive.

On Wed, Jul 10, 2013 at 2:25 PM, Erik Christensen
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-07-11 04:06] marihuertas opened #271 "Remove character limits for badge titles."
I'm adding badges for a new org and hit an error when I added a badge with a long name. Can we remove the character limit?

Not super pressing, but minorly annoying when I'm trying to add in a bunch of new badges.

![screen shot 2013-07-10 at 11 05 57 pm](https://f.cloud.github.com/assets/1434869/779583/3fd9bdb2-e9df-11e2-98ba-ad0c3f8bb2c2.png)

[2013-07-11 04:09] marihuertas commented on #271
Hmm. Just tried to shorten the badge name and I'm having the same issue when I try to upload it. Thoughts, @brianloveswords ... ?

[2013-07-11 05:23] threeqube commented on #271
Realized these images are a .jpg. I'm fairly certain, open badger only accepts .png image fils. Let us investigate further.

[2013-07-11 15:33] brianloveswords commented on #271
That error message is saying "your image is too big". There's a max size
for the images (either 256k or 128k).

Brian

On Thu, Jul 11, 2013 at 1:23 AM, threeqube notifications@github.com wrote:

[2013-07-11 16:49] marihuertas commented on #271
Hey @threeqube – yeah, they were .jpgs but I changed them to .png files and that error still popped up.

@brianloveswords – I'll downsize the images and try again. Thanks!

[2013-07-12 04:05] #271 closed, assigned to nobody

[2013-07-16 01:14] threeqube opened #272 "On Program Detail page: make program description field bigger or expandable"
Currently, program description field is a rather small text box. But many of the program descriptions are lengthy with different pieces of information that require line breaks. Expanding this text box will create ease of use for those that need to input this information.

![screen shot 2013-07-15 at 6 12 23 pm](https://f.cloud.github.com/assets/1424627/802050/fc71590c-edb4-11e2-85d6-d90e633b38fb.p

[2013-07-22 04:28] marihuertas opened #274 "Accept punctuation in issuing field for email addresses."
Please make it so that commas, semicolons, and spacing all are accepted into the badge issuing / email field. We've experienced some trouble with folks adding these (even though text on the page says not to) and want to eliminate this barrier.

cc @christensenep + @curlee

[2013-07-22 14:20] ghost opened #275 "Recommended badges tests failing in openbadger"
Some of the "recommended badges" tests began failing in openbadger on 7/15/2013.  Appears to be related to a travis environment change.

[2013-07-22 19:11] ghost commented on #275
So here's why badge-recommendations.test.js started failing on 7/15!

https://github.com/mozilla/openbadger/blob/357c48458149d130294f6d4765345a43888826cf/tests/badge-recommendations.test.js#L53

Hee.  Not a travis issue after all!  Will submit a fix momentarily.

[2013-07-22 21:07] ghost commented on #275
Tests are now passing.

[2013-07-22 21:07] #275 closed, assigned to nobody

[2013-07-22 23:03] marihuertas opened #277 "Be able to pinpoint which CSOL org admin is issuing badges for each org."
This is for the purpose of being able to enter into a raffle for prizes all those admins who are issuing oodles of badgs. :)

iRemix mentors will not be included.

Let's ship this ASAP. Per our emails earlier today, this is a top priority.

[2013-07-23 23:03] marihuertas opened #279 "Remove the need to have every badge interaction approved by a parent/guardian for <13 learners."
Let's code this and put it into staging – before it moves to prod, we'll confirm the city has posted a publicly posted email/letter about this change to the site.

Get ready to see a lot more badges! :)

[2013-07-23 23:08] marihuertas opened #280 "Pull requested data for Parv, Tawa by 7/24."
Data requested:
- ```
      # of Unique Visitors:
[code]
- ```
      Total # of Badges Issued:
[code]
- ```
      Total # of Badges In Progress (maybe this is the same as wishlisted?)
[code]
- ```
      Total # of Learners Earning 1, 2, 3, 4, or 5 STEAM Badges:
[code]
- ```
      Age - # 18-24 #13-18 #Under 13
[code]
- ```
      List of Top 10 Schools Where Learners are Registered
[code]
- ```

[2013-07-24 12:24] marihuertas commented on #280
Per Parv, one new additional point:

A pull of all student ids of learners registered

[2013-07-25 18:28] dajbelshaw opened #281 "Alignment metafield available to all users"
For badge issuers to align with the [http://mzl.la/weblitstd](Mozilla Web Literacy Standard) we need Open Badger to include the 'alignment' metadata field for all users.

_(result of a conversation at Badge Camp with Chris McAvoy and Brian Brennan)_

[2013-07-25 18:34] cmcavoy commented on #281
Fyi, this is not csol related. Future enhancement.
On Jul 25, 2013 2:29 PM, "Doug Belshaw" notifications@github.com wrote:

[2013-07-29 04:52] marihuertas commented on #280
This was shipped.

[2013-07-29 04:52] #280 closed, assigned to nobody

[2013-07-29 14:12] marihuertas commented on #279
We need to figure out email notifications – @christensenep and @marihuertas to discuss.

[2013-08-01 13:43] marihuertas commented on #279
Mozilla will change flow so that if an issuer types [kid'susername]@chicagosummeroflearning.org (for either <13 or >13 learners), the badge automatically is granted to the learner with no input required from either the learner or guardian. Obviously, this would require that the learner already be signed up on CSOL. If an issuer types in a guardian email instead, the guardian would get an email, an

[2013-08-01 13:44] marihuertas commented on #279
ps. Let's aim to deliver by Wednesday, August 7, @christensenep.

[2013-08-01 13:45] marihuertas opened #285 "Treat all new learners as >13 learners."
Mozilla will remove need for parental approval for all new learners on the site, so everyone will be treated as a >13 learner. (We cannot apply this action retroactively because all <13 learners currently on site would need an email address.)

Let's aim to ship by Friday, August 2.

[2013-08-01 13:46] marihuertas commented on #274
Heading to prod. Shuttin' it down.

[2013-08-01 13:46] #274 closed, assigned to nobody

[2013-09-16 19:14] cmcavoy opened #289 "Significant performance problem"
CSOL production has seen a gradual slowdown over the last several weeks. The call to https://badge.chicagosummeroflearning.org/v2/badges takes several seconds to load. New Relic is showing it upwards of 15 seconds to return.

There's other API calls with similar slow speeds. No code updates have happened since early August. @jdotpz and I turned on profiling in Mongo to look for slow queries, but h

[2013-09-16 19:22] ghost commented on #289
I wouldn't have thought that querying for all the claim codes would show up as a separate query.  The claim codes are just an array of subdocuments in badges, so badges.findById(whatever) would pull all of them along with the badge data itself.  That being said, yeah, totally, I'm sure there is a ton of wasteful data being returned here.  Possibly the time openbadger spends actually creating objec

[2013-09-16 20:08] jdotpz commented on #289
MongoDB Monitoring: https://rpm.newrelic.com/accounts/255689/dashboard/2919614
FromIRC:

mostlygeek
jp: i'm just helping debug between meetings right now ;)
mostlygeek
hi cmcavoy jp told me to join cause i was looking at some of the perf stuff w/ badgets
mostlygeek
badges
mostlygeek
jp/cmcavoy i wonder if this is your issue
mostlygeek
so in your Mongoose models, the Badge has a ref to Program, whi

[2013-09-16 20:36] ghost commented on #289
It's totally the claim codes.  The /earn page took 20x longer to load locally once I added 50,000 claim codes to a badge.  After I had that search exclude claimCodes from the result, it was back to its original speed (actually slightly improved).

[2013-09-18 14:20] cmcavoy opened #292 "Add ability for issuer to add a badge to their organization"
Issuer users should be able to add badge classes and programs to their organization.

[2013-09-18 14:26] cmcavoy commented on #292
Actually, it's probably easier (for now) to allow admin's it issue a badge.

Currently,
_Admins can_
- create organizations
- create programs
- create badge classes
- create claim codes

_Issuers can_
- create claim codes
- issue badges to an email address

We need a user that can
- create badge instances
- create programs
- create claim codes (including multi-use codes)
- issue badges to an email

[2013-09-18 16:14] brianloveswords commented on #292
So to confirm, I should probably just allow admins to issue any badges for any orgs (note: this is something that makes sense anyway).

[2013-09-18 16:25] cmcavoy commented on #292
Yes, :thumbsup:

On Wed, Sep 18, 2013 at 11:14 AM, Brian J Brennan
notifications@github.comwrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-09-18 18:39] threeqube commented on #292
:+1:

[2013-09-19 11:57] brianloveswords commented on #292
Okay, so I'm looking at this now – it appears to be done already? If I login as an admin and go to `/issue` I can issue badges. So I guess the task could be to add a link in the UI for issuing?

[2013-09-19 12:01] cmcavoy commented on #292
Can you add it to the menu drop down per badge on /admin?
On Sep 19, 2013 6:58 AM, "Brian J Brennan" notifications@github.com wrote:

[2013-09-19 20:55] threeqube opened #294 "Badge edit page: Get rid of irrelevant badge fields and modify others"
For CEM, a lot of the badge metadata fields do not apply.

Fields that need to be deleted or tossed are as follows:
- Age range - toss
- Badge type - modify
  - Peer to peer
  - Call to action
  - Participation
- Activity type - toss
- STEAM Badge details - toss
- This badge contributes points towards special STEAM badges in... (cumulative) - toss
- STEAM badge point contribution - toss

[2013-09-19 20:59] threeqube opened #295 "Claim badges interface - Obscure automatic generation option for claim codes so manual is only option"
Only multi-use claim codes will be used for CEM.

[2013-09-19 21:07] threeqube opened #296 "Claim badges interface: Add instructions on how manual generation works"

[2013-09-19 21:09] threeqube opened #297 "Claim codes interface: Obscure bulk actions"
Not needed for CEM

[2013-09-20 00:17] threeqube opened #298 "Response time lag is pretty significant"
Response time seems pretty laggy.

Load time for almost everything, hitting back home, next page, new badge all seem to take a few seconds.

[2013-09-20 00:19] threeqube opened #299 "Scroll down blue button options should include issue badge in addition to edit, claim and destroy"
As per this issue https://github.com/mozilla/openbadger/issues/292 need to add "issue badge" prompt to badge action options.

[2013-09-23 15:10] brianloveswords commented on #299
There is an open PR for this (#293) waiting for @cmcavoy or someone else to review & merge.

[2013-09-23 15:24] brianloveswords commented on #297
@threeqube Can you give me a screenshot of what should be removed? I don't think I understand what I'm supposed to do for this ticket.

[2013-09-23 15:46] cmcavoy commented on #298
What instance were you using? CSOL prod?

On Thu, Sep 19, 2013 at 7:17 PM, threeqube notifications@github.com wrote:

##

@chmcavoy http://twitter.com/chmcavoy
http://lonelylion.com

[2013-09-23 16:33] threeqube commented on #294
As per conversation with @cmcavoy, we are not modifying badge type. Badge types will be represented as "programs".
Peer to peer
Call to action
Starter Kit - a new type
Participation

[2013-09-23 18:16] brianloveswords commented on #296
What sort of instructions? (cc @cmcavoy)

[2013-09-23 18:26] threeqube commented on #296
What are the requirements for the claim code that the staff can generate? all lower case, punctured with hyphens, alphanumerical, etc?

[2013-09-23 18:32] threeqube commented on #297
Do you see where it says bulk badges at the far bottom? We need to get rid of that.

![screen shot 2013-09-23 at 2 31 53 pm](https://f.cloud.github.com/assets/1424627/1194030/824c93b6-247e-11e3-8dc1-a51674db734e.png)

[2013-09-23 18:33] threeqube commented on #298
@cmcavoy yep CSOL prod.

[2013-09-23 18:56] #294 closed, assigned to brianloveswords

[2013-09-23 19:45] brianloveswords commented on #297
Ah, so I was partially confused by the title – "claim badges interface" vs "claim _codes_ interface". Also that doesn't show up unless there are existing codes, and I was looking at a badge that had no codes. GOT IT NOW.

[2013-09-23 19:47] brianloveswords commented on #296
There are no rules. ANARCHY!

But for real, they can really put in anything. I guess we should just tell them to not use spaces and that they should be universally unique.

[2013-09-23 21:38] threeqube commented on #296
Can we add something to that effect text wise on the interfacr or do you want me to handle that separately when training?

[2013-09-23 21:40] threeqube commented on #297
Ma bad. I'll update the ticket title. SOUNDS GOOD.

[2013-09-23 22:30] cmcavoy commented on #299
#293 is merged.

[2013-09-23 22:30] #299 closed, assigned to brianloveswords

[2013-09-23 22:55] brianloveswords commented on #295
So by multi-purpose, do you mean multi **use**? So should the checkbox that says "this will be used more than once" default to checked?

[2013-09-24 00:19] #297 closed, assigned to brianloveswords

[2013-09-24 00:56] #295 closed, assigned to nobody

[2013-09-24 00:57] #296 closed, assigned to brianloveswords

[2013-09-24 01:27] threeqube commented on #295
@brianloveswords Yes, multi-use.

[2013-09-25 15:02] cmcavoy opened #302 "Archive static site"
We need a tool that accesses the API (so we're not tied to a version of OBr) and generates a static site from an OpenBadger instance. The site would contain all the assertions, the criteria pages and any badge images.

The use case is building a temporary site with OpenBadger, for an issuer who wants to host the assertions forever, but doesn't want to host OpenBadger forever. They should be able t

[2013-10-01 14:10] brianloveswords opened #306 "Add ability to attach evidence URL when issuing a badge"
- hide the "upload some evidence" input
- make a new "link to some evidence" text input
- ensure that gets attached as evidence in the instance model (test)
- ensure the evidence is in the generated assertion (test)

/cc @cmcavoy, @christensenep

[2013-10-04 18:07] cmcavoy opened #307 "org url's"
Thinking about the idea of allowing organizations configured in openbadger to allow the badges to come from their own url's. Point a url to the openbadger instance as CNAME.

This is mostly a placeholder for discussion, but is driven by a partner that wants the badges to come from their own url (DML / HASTAC / UofI) /cc @threeqube @brianloveswords @carlacasilli

[2013-10-04 22:45] threeqube commented on #307
I support this. :+1:

[2013-10-04 23:59] brianloveswords commented on #307
I support the concept and was thinking about the best way to handle it. CNAMEs would work, but I was also thinking about formalizing a method in the spec more generally, something like `onBehalfOf` (not the final name, obviously). Some method of handshaking that says "I am an issuer, I am using (e.g.) OpenBadger and I approve that they are issuing badges on my behalf".

My mind went naturally to s

[2013-10-05 13:39] threeqube commented on #307
I think we need to capture the detail that @brianloveswords mentions of "I am an issuer, I am using (e.g) OpenBadger and I approve that they are issuing badges on my behalf."

[2013-10-08 14:43] cmcavoy opened #308 "Add claimed count to multi-use badges in the claim code window."
@christensenep not sure how difficult this is...

[2013-10-10 22:22] threeqube opened #309 "Criteria page has webmaker text artifact that should be removed"
If you look at this http://badger.connectededucators.org/badge/criteria/kickoff-event-cem-opening-celebrationgala

It has a weird Webmaker badges text artifact that should be deleted since this is a CEM criteria page.

![screen shot 2013-10-10 at 3 21 45 pm](https://f.cloud.github.com/assets/1424627/1310878/720108e6-31fa-11e3-9bcb-aa250ac728f7.png)

[2013-10-10 22:30] ghost commented on #309
Addressed by #310.

[2013-10-11 20:11] cmcavoy commented on #309
pushed to prod and confirmed

[2013-10-11 20:11] #309 closed, assigned to nobody

[2013-10-15 21:59] #308 closed, assigned to nobody

[2013-10-23 11:04] cmcavoy opened #314 "Theme for Openbadges Badges"
`/theme/obb`

[2013-10-23 11:11] #314 closed, assigned to nobody

[2013-10-31 12:50] cmcavoy opened #318 "/badges should match indexer spec?"
Should we move the `/v2/badges` (or more realistically the `/v3/badges`) end point to match the indexer spec developing in mozilla/openbadges-discussion#1?

[2013-11-05 15:49] ghost opened #319 "Temporary evidence should be kept when badge is claimed"
Currently, openbadger relies on the client site to retrieve any temporary evidence attached to an issued badge and then pass it back to openbadger when claiming the badge.  It should instead automatically attach the temporary evidence to the badge when it is claimed.

[2013-11-05 15:55] cmcavoy commented on #319
Some bits that we'll need to do,
- [ ] create an evidence display page, similar to the criteria page
- [ ] link the `evidence` property of the [BadgeAssertion](https://github.com/mozilla/openbadges/wiki/Assertions#badgeassertion).

[2013-11-05 17:25] cmcavoy opened #320 "Add total badge instances count to top of admin screen"
This will help with a recent request from @threeqube

[2013-11-05 18:55] threeqube commented on #320
Yess! Much appreesh. :+1:

[2013-11-05 20:54] cmcavoy opened #322 "Write MySQL data schema"
# SQL To-Do

List of models to convert to SQL schemas.

Marking them    complete if I have at least a first pass at them.
- [x] badge class
- [x] badge instance
- [x] tag
- [x] tag to badge class map
- [x] user
- [x] claim code
- [ ] issuer
- [ ] program
- [x] behavior

[2013-11-06 15:53] #320 closed, assigned to cmcavoy

[2013-12-03 21:12] #26 closed, assigned to nobody

[2013-12-03 21:12] #58 closed, assigned to nobody

[2013-12-03 21:12] #70 closed, assigned to nobody

[2013-12-03 21:12] #71 closed, assigned to nobody

[2013-12-03 21:12] #86 closed, assigned to nobody

[2013-12-03 21:12] #99 closed, assigned to nobody

[2013-12-03 21:12] #133 closed, assigned to emgollie

[2013-12-03 21:12] #158 closed, assigned to toolness

[2013-12-03 21:12] #163 closed, assigned to nobody

[2013-12-03 21:12] #166 closed, assigned to emgollie

[2013-12-03 21:12] #168 closed, assigned to nobody

[2013-12-03 21:12] #169 closed, assigned to nobody

[2013-12-03 21:12] #174 closed, assigned to toolness

[2013-12-03 21:12] #180 closed, assigned to nobody

[2013-12-03 21:12] #234 closed, assigned to brianloveswords

[2013-12-03 21:12] #235 closed, assigned to emgollie

[2013-12-03 21:12] #246 closed, assigned to nobody

[2013-12-03 21:12] #247 closed, assigned to nobody

[2013-12-03 21:12] #257 closed, assigned to nobody

[2013-12-03 21:12] #258 closed, assigned to nobody

[2013-12-03 21:12] #262 closed, assigned to nobody

[2013-12-03 21:12] #272 closed, assigned to nobody

[2013-12-03 21:12] #277 closed, assigned to nobody

[2013-12-03 21:12] #279 closed, assigned to nobody

[2013-12-03 21:12] #289 closed, assigned to nobody

[2013-12-03 21:13] #102 closed, assigned to nobody

[2013-12-03 21:13] #292 closed, assigned to nobody

[2013-12-03 21:13] #298 closed, assigned to brianloveswords

[2013-12-03 21:13] #302 closed, assigned to nobody

[2013-12-03 21:14] #285 closed, assigned to nobody

[2013-12-06 21:41] cmcavoy opened #327 "Read Mongo config optionally from Heroku style Mongo HQ variable"
Marking this as a bug, on Heroku, because we're not reading from the MongoHQ env variable, we're missing db changes.

[2013-12-09 23:52] threeqube opened #328 "badges that were created using badger.openbadges.org instance generate error when sending to backpack"
This bug was reported by the folks at DigitalMe.

![screen shot 2013-12-09 at 18 39 14](https://f.cloud.github.com/assets/1424627/1710242/eff57e24-612c-11e3-88e3-ae02dfc9c7bb.png)

[2013-12-12 15:53] stenington commented on #328
Example assertion: http://badger.openbadges.org/badge/assertion/39841d20863cda3d5c2e8fab6f0b0c1d93b79373

[2013-12-12 16:46] stenington commented on #328
The backpack's unhappy while the validator says it's fine because they're using different versions of the underlying validation library. :astonished:

The backpack is blowing up saying `'recipient.salt': { [Error: must be a string] message: 'must be a string', code: undefined }` which is technically incorrect. The spec says the salt is optional.

[2013-12-12 19:15] stenington commented on #328
I think the work to be done is:
- [x] update the validator to make salts optional, if that's not how it is: mozilla/openbadges-validator#24
- [x] update the version of the validator used in the validator service: mozilla/openbadges-validator-service#24
- [x] update the version of the validator used in the backpack to include the fix above: PR mozilla/openbadges#974
- [x] move the validator-service

[2013-12-12 20:12] stenington commented on #328
@threeqube As a first step at improving error messaging, what's a better generic error message than "undefined"?

[2013-12-13 00:34] threeqube commented on #328
@stenington well why does this error occur?

[2013-12-13 15:55] #328 closed, assigned to cmcavoy

[2013-12-13 17:33] stenington commented on #328
@threeqube Well, I was thinking of putting in a better generic message, not a specific message for this actual problem. I think it'll get covered in one of the many open tickets to make our error messaging better though.

[2013-12-14 01:13] threeqube commented on #328
How about, "We have encountered an issue. Please try again later."?

[2013-12-16 14:10] iamjessklein commented on #328
+1 @stenington - I wrote a bunch of tickets on error messages. I do like that suggestion in the interim @threeqube

[2014-01-22 23:15] #322 closed, assigned to cmcavoy

[2014-01-22 23:15] #327 closed, assigned to cmcavoy

[2014-01-22 23:16] cmcavoy opened #330 "Badge issued to email second time should still email"
Per CSOL requirements, Open Badger currently doesn't trigger an email event for an issued badge to an email address that Open Badger already has issued badges to. We'd like to remove this behavior for non-CSOL installs.

I'm going to give this a shot in the next couple of days, FYI.

[2014-06-02 13:30] dajbelshaw opened #332 "Badges not displaying"
Not sure if this is the best place to put this, but I noticed that my Open Badges-related community badges weren't showing up in my [blog](https://dougbelshaw.com/blog) sidebar...

![No badges :(](http://i.imgur.com/ZZfCwMU.png)

Even the [URLs](http://badger.openbadges.org/badge/criteria/foob-friend-of-open-badges) don't seem to resolve...

![Dead badger](http://i.imgur.com/79Tl2IZ.png)

[2014-06-02 14:42] threeqube commented on #332
cc/ @cmcavoy

[2014-06-02 15:00] cmcavoy commented on #332
The Redis instance on Heroku changed locations, but OpenBadger didn't update the config. Opening a ticket to handle that. In the meantime, this is fixed. Thanks @dajbelshaw !

[2014-06-02 15:00] #332 closed, assigned to cmcavoy

[2014-06-02 15:01] cmcavoy opened #333 "Update Redis to look for OPENREDIS_URL"
And fall back to the OPENBADGER_REDIS_\* config if it doesn't find it. Similar to what we have for Mongo.

This will prevent issues like #332

I think the code to look at is [here](https://github.com/mozilla/openbadger/blob/47eaecd5a691f32a8dfa504f5d39b5453896864f/middleware.js)

[2019-02-17 17:51] ghost opened #335 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/openbadger/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of

[2019-03-28 04:07] ghost opened #336 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The